.account {
    padding: 20px 0 40px 0;
    
    .panel-body {
        border: none;
    }
}

/* ***** -- user card ***** */
.user-card {
    align-items: center;
    font-family: "Montserrat Bold", sans-serif;

    .thumb {
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        font-size: 2.4rem;
        color: #fff;
        background: #D90529;
        border-radius: 50%;
    }

    .name {
        width: calc(100% - 70px);
        padding: 0 0 0 20px;
        font-size: 1.8rem;
        line-height: 2.2rem;

        p {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }
}

/* ***** -- sidebar ***** */
.toggle-account-sidebar {
    position: absolute;
    top: calc(50% - 17px);
    right: -41px;
    padding: 6px 8px 4px 8px;
    background: #fff;
    border-radius: 0 2px 2px 0;
    border: 1px solid #E0E0E0;
    border-left: 0;
    z-index: 100;
}

.account-sidebar {
    .white-panel {
        margin: 0 0 20px 0;
    }
}

ul.sidebar-list {
    padding: 10px 0;
    margin: 0 0 20px 0;
    background: #fff;
    border-radius: 5px;

    li {
        position: relative;

        &.active {
            a {
                color: #D90529;
            }

            .hover-side {
                fill: #D90529;
            }
        }

        &:after {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 65px;
            right: 30px;
            border-bottom: 1px solid #E5E5E5;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
        }
    }

    a {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        color: #333;
        padding: 20px 30px 20px 65px;

        &:hover {
            color: #D90529;

            .hover-side {
                fill: #D90529;
            }
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- user card ***** */
    .user-panel {
        .panel-body {
            padding: 25px 20px;
        }
    }

    .user-card {
        .thumb {
            width: 50px;
            height: 50px;
            font-size: 2rem;
        }

        .name {
            width: calc(100% - 50px);
            padding: 0 0 0 15px;
        }
    }

    /* ***** -- sidebar ***** */
    ul.sidebar-list {
        li {
            &:after {
                left: 50px;
                right: 20px;
            }

            svg {
                left: 20px;
            }
        }
    
        a {
            color: #333;
            padding: 15px 20px 15px 50px;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- account sidebar ***** */
    .account-sidebar-wrapper {
        flex: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        max-width: none;
        height: 100vh;
        padding: 0;
        background: #f8f8f8;
        transform: translateX(-280px);
        z-index: 110;
        transition: transform .2s ease;

        &.active {
            transform: translateX(0);
        }
    }

    .account-sidebar {
        height: 100%;
        overflow-y: auto;
    }
}