.address-book {
    position: relative;
    padding: 0 100px 0 0;

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 0 5px 0 !important;

        &:last-of-type {
            margin: 0 !important;
        }
    }

    .actions {
        position: absolute;
        top: 0;
        right: 0;

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            color: #212D4A;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            margin: 0 0 0 10px;
            background: #F8F8F8;

            i {
                opacity: .6;
            }

            &:hover {
                i {
                    opacity: 1;
                }
            }
        }
    }
}

/* ***** -- modal alert ***** */
.modal-backdrop.show {
    opacity: .8;
}

.modal {
    .actions {
        width: 100%;

        button,
        a {
            font-family: "Montserrat Bold", sans-serif;
            font-size: 1.5rem;
            line-height: 1.8rem;
            text-transform: uppercase;
            color: #333;
            padding: 1.5rem 3.2rem;
            background: #DADADA;
            border-radius: 2px;
        }

        button[data-dismiss="modal"],
        a[data-dismiss="modal"] {
            color: #fff;
            background: #D90529;
        }
    }
}

.modal-content {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.212385);
}

.modal-alert {
    .modal-dialog {
        max-width: 550px !important;
    }

    .modal-content {
        text-align: center;
        padding: 50px 30px;
    }

    .alert-title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2.2rem;
        line-height: 2.6rem;
    }

    .alert-subtitle {
        font-size: 1.6rem;
        line-height: 2.3rem;
        margin: 10px 0 40px 0;
    }

    .actions {
        justify-content: space-between;
        max-width: 320px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .address-book {
        padding: 0 0 40px 0;

        .actions {
            top: auto;
            bottom: 0;
        }
    }

    /* ***** -- modal alert ***** */
    .modal {
        .actions {
            button,
            a {
                padding: 1.2rem 3rem;
            }
        }
    }

    .modal-content {
        box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.212385);
    }

    .modal-alert {
        .modal-content {
            padding: 25px 20px;
        }

        .alert-title {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }

        .alert-subtitle {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }

        .alert-subtitle {
            margin: 10px 0 30px 0;
        }
    }

}