/* ***** -- address book ***** */
.white-panel.order-details {
    .panel-title {
        margin: 0 0 25px 0;
    }
}

.payment-method {
    font-size: 1.5rem;
    line-height: 1.8rem;

    .payment-icon {
        text-align: center;
        height: 28px;
        width: 44px;
        padding: 2px 7px;
        margin: 0 15px 0 0;
        background: #f4f4f4;
    }

    p {
        color: #828282;
        margin: 10px 0 0 0;
    }
}