/* ***** -- view order ***** */
.view-order {
    justify-content: space-between;
    align-items: center;

    p {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .view-order {    
        p {
            width: 100%;
            margin: 0 0 15px 0;
        }
    }
}