.white-panel {
    .btn-submit {
        margin: 20px 0 0 0;
    }
}

.form-group.birth-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .custom-select {
        width: calc(33.333333% - 10px);
    }
}

.genders {
    .gender {
        margin: 0 30px 0 0;
    }
}

@media (max-width: 480px) {
    .form-group.birth-date {
        .custom-select {
            width: calc(50% - 8px);
            margin: 0 0 10px 0;
        }
    }
}
