section.subscribe-instagram.flex
    .subscribe-block.flex
        .subscribe-form-wrapper
            h3 Subsctipe to newsletters and get notifications about the latest and newest services
            |
            |
            form(action="#" method="POST")
                .form-group
                    input(type="email" class="form-control" placeholder="E-mail" required)
                |
                |
                button(class="submit-subscribe") Subscribe
    // Subscribe block
    |
    |
    .instagram-block.flex
        .hashtag
            ="\n"
            a(href="http://instagram.com" target="_blank")
                img(src=require("../../images/icons/icon-instagram-colored.svg"))
                | #experiencedays
        |
        |
        .instagram(data-user="196300891" data-token="196300891.1677ed0.40af9c0b48a74a3f825a0ac0d9cfe90f")
            .swiper-container
                .swiper-wrapper(id="instafeed")
        // Instagram slider
    // Instagram block
// Subscribe & Instagram