extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item About us
    // Breadcrumbs
    |
    |
    section.static.about-us
        .container-fluid
            .row
                .col-12
                    h1.block-title About us
                    .editor-body
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .shop-stats.flex
                        .row
                            .stat-item.text-center(data-aos="fade-up" data-aos-duration="400")
                                h3.num 40+
                                p.desc World Famous Fashion Brands in one Online Shopping Platform
                            |
                            |
                            .stat-item.text-center(data-aos="fade-up" data-aos-duration="600")
                                h3.num 75%
                                p.desc of Customers choose Us in local market for Online Shopping 
                            |
                            |
                            .stat-item.text-center(data-aos="fade-up" data-aos-duration="800")
                                strong.text-uppercase Over
                                h3.num 10.000
                                p.desc Active Users per month
                    // Statistics
                    |
                    |
                    .divider
                    |
                    |
                    h2.block-title About us
                    .editor-body
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .images-wrapper.img-3x
                        ="\n"
                        img(src=require("../../images/about/image0.jpg"))
                        ="\n"
                        img(src=require("../../images/about/image1.jpg"))
                        ="\n"
                        img(src=require("../../images/about/image0.jpg"))
    // About us page
    |
    |