extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item My orders
    // Breadcrumbs
    |
    |
    section.account
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    .row
                        .col-md-5.account-sidebar-wrapper
                            .toggle-account-sidebar.visible-767
                                i.icon-list
                            // Toggle Sidebar
                            |
                            |
                            .account-sidebar
                                .white-panel.user-panel
                                    .panel-body
                                        .user-card.flex
                                            .thumb.flex
                                                ="\n"
                                                span.text-uppercase fi
                                            |
                                            |
                                            .name
                                                p Hi,
                                                ="\n"
                                                strong Farid Ismayilov
                                        // User Card
                                    // Panel body
                                // Panel
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="account-orders.html")
                                            svg(width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333" class="hover-side")
                                            | My Orders
                                            ="\n"
                                    li.active
                                        ="\n"
                                        a(href="account-user-details.html")
                                            svg(width="16" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M11.057 7.68197C12.8144 5.92463 12.8144 3.07539 11.057 1.31804C9.29967 -0.439346 6.45043 -0.439346 4.69308 1.31804C2.93573 3.07539 2.93573 5.92463 4.69308 7.68197C6.45043 9.43932 9.29967 9.43932 11.057 7.68197ZM0.972278 12.2432C5.07457 9.47134 10.6754 9.47134 14.7777 12.2432C15.3863 12.6541 15.75 13.3484 15.75 14.101V18H0V14.101C0 13.3484 0.363627 12.6541 0.972278 12.2432Z" fill="#333" class="hover-side")
                                            | My Details
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="account-addresses.html")
                                            svg(width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M10 0C7.41531 0 5.3125 2.10281 5.3125 4.6875C5.3125 5.57388 5.56137 6.43738 6.03241 7.1846L10 13.5156L13.9676 7.1846C14.4386 6.43738 14.6875 5.57388 14.6875 4.6875C14.6875 2.10281 12.5847 0 10 0ZM10 7.61719C8.3847 7.61719 7.07031 6.3028 7.07031 4.6875C7.07031 3.0722 8.3847 1.75781 10 1.75781C11.6153 1.75781 12.9297 3.0722 12.9297 4.6875C12.9297 6.3028 11.6153 7.61719 10 7.61719ZM10 2.92969C9.03076 2.92969 8.24219 3.71826 8.24219 4.6875C8.24219 5.65674 9.03076 6.44531 10 6.44531C10.9692 6.44531 11.7578 5.65674 11.7578 4.6875C11.7578 3.71826 10.9692 2.92969 10 2.92969ZM6.50568 16.4453L6.9928 11.7578H3.41797L1.5 16.5L0 20H5.5H5.96741H14.0347H15H20.0031L18.5 16.5L16.5808 11.7578H12.9785L13.494 16.4453H6.50568Z" fill="#333" class="hover-side")
                                            | My Addresses
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="account-change-password.html")
                                            svg(width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M13.125 6.75H12V5.24999C12 2.35512 9.64491 0 6.75 0C3.85509 0 1.50001 2.35512 1.50001 5.24999V6.75H0.375012C0.16773 6.75 0 6.91773 0 7.12501V16.5C0 17.3273 0.672715 18 1.50001 18H12C12.8273 18 13.5 17.3273 13.5 16.5V7.12501C13.5 6.91773 13.3323 6.75 13.125 6.75ZM7.87282 14.5836C7.88453 14.6894 7.8505 14.7956 7.77945 14.8751C7.7084 14.9546 7.60658 15 7.50002 15H6.00001C5.89345 15 5.79164 14.9546 5.72059 14.8751C5.64954 14.7957 5.61547 14.6895 5.62721 14.5836L5.86378 12.4563C5.47963 12.1769 5.25002 11.7349 5.25002 11.25C5.25002 10.4227 5.92274 9.74999 6.75004 9.74999C7.57733 9.74999 8.25005 10.4227 8.25005 11.25C8.25005 11.7349 8.02044 12.1769 7.63629 12.4563L7.87282 14.5836ZM9.74999 6.75H3.75001V5.24999C3.75001 3.59582 5.09583 2.25 6.75 2.25C8.40417 2.25 9.74999 3.59582 9.74999 5.24999V6.75Z" fill="#333" class="hover-side")
                                            | Change Password
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="help-cnter.html")
                                            svg(width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M9 0C4.03746 0 0 4.03746 0 9C0 13.9625 4.03746 18 9 18C13.9625 18 18 13.9625 18 9C18 4.03746 13.9625 0 9 0ZM9.58542 14.3399C9.15784 14.4112 8.30704 14.5892 7.87499 14.625C7.50928 14.6553 7.16417 14.4459 6.9538 14.1454C6.74288 13.845 6.69233 13.4604 6.81756 13.1155L8.51879 8.43751H6.74998C6.74847 7.46276 7.47962 6.74603 8.41475 6.47097C8.86101 6.33967 9.69245 6.15999 10.125 6.18753C10.3841 6.20401 10.8358 6.36659 11.0462 6.6671C11.2571 6.96757 11.3076 7.35209 11.1824 7.69706L9.48118 12.375H11.2494C11.2498 13.3486 10.5459 14.1798 9.58542 14.3399ZM10.125 5.62501C9.50364 5.62501 8.99997 5.12127 8.99997 4.5C8.99997 3.87866 9.50364 3.37499 10.125 3.37499C10.7463 3.37499 11.25 3.87866 11.25 4.5C11.25 5.1213 10.7463 5.62501 10.125 5.62501Z" fill="#333" class="hover-side")
                                            | Need Help?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="help-center.html")
                                            svg(width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M15.364 2.63603C13.6641 0.936172 11.4039 0 9 0C6.59605 0 4.33589 0.936172 2.63603 2.63603C0.936172 4.33589 0 6.59605 0 9C0 11.4041 0.936172 13.6641 2.63603 15.364C4.33589 17.0638 6.59605 18 9 18C11.4039 18 13.6641 17.0638 15.364 15.364C17.0638 13.6641 18 11.4041 18 9C18 6.59605 17.0638 4.33589 15.364 2.63603ZM12.8927 11.6496C13.2359 11.993 13.2359 12.5494 12.8927 12.8926C12.7211 13.0643 12.4961 13.1501 12.2712 13.1501C12.0462 13.1501 11.8213 13.0643 11.6496 12.8926L9 10.243L6.35037 12.8927C6.17871 13.0643 5.95377 13.1501 5.72882 13.1501C5.50388 13.1501 5.27893 13.0643 5.10727 12.8927C4.76408 12.5494 4.76408 11.993 5.10727 11.6498L7.75703 9L5.10727 6.35037C4.76408 6.00705 4.76408 5.45059 5.10727 5.10741C5.45059 4.76408 6.00705 4.76408 6.35023 5.10741L9 7.75703L11.6496 5.10741C11.993 4.76422 12.5494 4.76408 12.8926 5.10741C13.2359 5.45059 13.2359 6.00705 12.8926 6.35037L10.243 9L12.8927 11.6496Z" fill="#333" class="hover-side")
                                            | How do I make cancelation
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="delivery.html")
                                            svg(width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(width="20" height="14" rx="2" fill="#333" class="hover-side")
                                                rect(x="3" y="3" width="4" height="4" rx="1" fill="#fff")
                                                line(x1="3.75" y1="10.25" x2="16.25" y2="10.25" stroke="#fff" stroke-width="1.5" stroke-linecap="round")
                                            | How Payment & Delivery
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)")
                                            svg(width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M10.5 10.4999C10.5 10.086 10.8353 9.74995 11.25 9.74995C11.6647 9.74995 12 10.086 12 10.4999V13.5C12 14.7405 10.9904 15.75 9.74995 15.75H7.49995V16.5C7.49995 17.3272 6.82732 18 6.00005 18C5.84019 18 5.68803 17.9775 5.53505 17.9302L1.02145 16.4257C0.408005 16.2127 0 15.6404 0 14.9999V1.49991C0 0.672638 0.672775 0 1.50005 0C1.52071 0 1.54067 0.0042733 1.56062 0.00854453C1.57608 0.0118532 1.59153 0.0151607 1.6073 0.0164795C1.61892 0.0149267 1.62986 0.0117845 1.64075 0.0086563C1.65587 0.00431459 1.6709 0 1.6875 0H9.74995C10.9904 0 12 1.00951 12 2.25V4.5C12 4.91391 11.6647 5.24995 11.25 5.24995C10.8353 5.24995 10.5 4.91391 10.5 4.5V2.25C10.5 1.83664 10.164 1.49991 9.74995 1.49991H6.25644L6.4785 1.5742C7.09195 1.7872 7.49995 2.35945 7.49995 2.99995V14.25H9.74995C10.164 14.25 10.5 13.9132 10.5 13.5V10.4999ZM14.7815 3.96976L17.7816 6.96971C18.0747 7.26291 18.0747 7.73697 17.7816 8.03017L14.7815 11.0303C14.5671 11.2446 14.2445 11.3092 13.9641 11.193C13.6843 11.0767 13.5013 10.803 13.5013 10.4999V8.2499H10.5013C10.0873 8.2499 9.75123 7.91399 9.75123 7.49994C9.75123 7.0859 10.0873 6.74999 10.5013 6.74999H13.5013V4.49999C13.5013 4.1969 13.6843 3.92321 13.9641 3.80689C14.2445 3.69071 14.5671 3.75525 14.7815 3.96976Z" fill="#333" class="hover-side")
                                            | Sign Out
                                            ="\n"
                            // Account Sidebar
                        // Col
                        |
                        |
                        .col-md-7
                            .white-panel
                                .panel-body
                                    form(action="#" method="POST")
                                        .form-group
                                            label E-mail address
                                            input(type="email" class="form-control is-valid" value="example@gmail.com" required)
                                            .valid-feedback Valid input
                                        |
                                        |
                                        .form-group
                                            label Firstname
                                            input(type="text" class="form-control is-invalid" value="Farid" required)
                                            .invalid-feedback Invalid input
                                        |
                                        |
                                        .form-group
                                            label Lastname
                                            input(type="text" class="form-control" value="Ismayilov" required)
                                        |
                                        |
                                        .form-group.birth-date
                                            label Date of birth
                                            select(name="day" class="custom-select" required)
                                                option(value="1") 1 
                                                option(value="2") 2
                                                option(value="3") 3
                                                option(value="4") 4 
                                                option(value="5") 5 
                                                option(value="6") 6 
                                                option(value="7") 7 
                                                option(value="8") 8 
                                                option(value="9") 9 
                                                option(value="10") 10 
                                                option(value="11") 11
                                                option(value="12") 12
                                                option(value="13") 13
                                                option(value="14") 14
                                                option(value="15") 15
                                                option(value="16") 16
                                                option(value="17") 17
                                                option(value="18" selected) 18
                                            |
                                            |
                                            select(name="month" class="custom-select" required)
                                                option(value="yan") Yanuary
                                                option(value="feb") February
                                                option(value="mar") March
                                                option(value="apr") April
                                                option(value="may") May
                                                option(value="june") June
                                                option(value="july" selected) July
                                            |
                                            |
                                            select(name="year" class="custom-select" required)
                                                option(value="1990") 1990
                                                option(value="1991") 1991
                                                option(value="1992") 1992
                                                option(value="1993") 1993
                                                option(value="1994" selected) 1994
                                                option(value="1995") 1995
                                                option(value="1996") 1996
                                                option(value="1997") 1997
                                                option(value="1998") 1998
                                                option(value="1999") 1999
                                                option(value="2000") 2000
                                        |
                                        |
                                        .form-group
                                            label Gender
                                            .genders.flex
                                                .gender
                                                    input(type="radio" id="male" name="gender" value="male" checked)
                                                    label(for="male") Male
                                                .gender
                                                    input(type="radio" id="fermale" name="gender" value="fermale")
                                                    label(for="fermale") Fermale
                                        |
                                        |
                                        button(class="btn-submit") Save Changes
                                // Panel body
                            // Panel
                        // Col
    // User details page
    |
    |