extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Basket
    // Breadcrumbs
    |
    |
    section.cart-page
        .container-fluid
            .row
                .left
                    .white-panel
                        .panel-header.flex
                            h3.panel-title Basket
                            p You have #[strong 4 items] in the basket
                    // Panel
                    |
                    |
                    .cart-items
                        .cart-item.flex
                            .image
                                ="\n"
                                a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                            |
                            |
                            .info.flex
                                p.product-code Product code: WT239XS87
                                h3.title
                                    ="\n"
                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                |
                                |
                                .item-params.flex
                                    .param
                                        select(class="custom-select" required)
                                            option(value="quba") Quba
                                            option(value="balakan") Balakan
                                            option(value="shaki") Shaki
                                    .param
                                        select(class="custom-select" required)
                                            option(value hidden) Person:
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                                            option(value="8") 8
                                            option(value="9") 9
                                            option(value="10") 10
                                |
                                |
                                .price
                                    p.old 185 AZN | Save 45%
                                    p.current 120 AZN
                                .remove
                                    ="\n"
                                    a(href="javascript:void(0)")
                                        ="\n"
                                        i.icon-trash
                                        ="\n"
                        // Cart item
                        |
                        |
                        .cart-item.flex
                            .image
                                ="\n"
                                a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                            |
                            |
                            .info.flex
                                p.product-code Product code: WT239XS87
                                h3.title
                                    ="\n"
                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                |
                                |
                                .item-params.flex
                                    .param
                                        select(class="custom-select" required)
                                            option(value="quba") Quba
                                            option(value="balakan") Balakan
                                            option(value="shaki") Shaki
                                    .param
                                        select(class="custom-select" required)
                                            option(value hidden) Person:
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                                            option(value="8") 8
                                            option(value="9") 9
                                            option(value="10") 10
                                |
                                |
                                .price
                                    p.old 185 AZN | Save 45%
                                    p.current 120 AZN
                                .remove
                                    ="\n"
                                    a(href="javascript:void(0)")
                                        ="\n"
                                        i.icon-trash
                                        ="\n"
                        // Cart item
                    // Cart items
                // Left
                |
                |
                .right
                    .white-panel.order-summary
                        .panel-header.flex
                            h3.panel-title Order Summary
                        // Panel header
                        |
                        |
                        .panel-body
                            .subtotal.flex
                                p Subtotal
                                ="\n"
                                strong 120.00 AZN
                            .subtotal.flex
                                p Delivery
                                ="\n"
                                strong free
                            |
                            |
                            .divider
                            |
                            |
                            .total.flex
                                p.text-uppercase Total
                                ="\n"
                                strong 120.00 AZN
                            |
                            |
                            ="\n"
                            a(href="checkout.html" class="btn-custom primary btn-block") Checkout
                            |
                            |
                            .accepted-payments
                                h3.panel-title.secondary We accept
                                |
                                |
                                div
                                    ="\n"
                                    img(src=require("../../images/icons/visa2.svg"))
                                div
                                    ="\n"
                                    img(src=require("../../images/icons/mastercard2.svg"))
                        // Panel body
                    // Panel (order summary)
                // Right
        |
        |
        .related-experiences.ptb-8
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Recent Experiences
                        // Section header
                        |
                        |
                        .new-experiences-slider
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                    |
                                                    |
                                                    span (42 reviews)
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | 4 locations
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                    |
                                                    |
                                                    span (42 reviews)
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | 4 locations
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image2.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                    |
                                                    |
                                                    span (42 reviews)
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | 4 locations
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image3.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                    |
                                                    |
                                                    span (42 reviews)
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | 4 locations
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                    |
                                                    |
                                                    span (42 reviews)
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | 4 locations
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                    |
                                                    |
                                                    span (42 reviews)
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | 4 locations
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                |
                                |
                                .swiper-pagination
                            // Slider
                            |
                            |
                            .prev-slide.flex-center
                                ="\n"
                                i.icon-angle-right
                            .next-slide.flex-center
                                ="\n"
                                i.icon-angle-right
                        // Related experiencess (slider wrapper)
        // Related experiences (section)
        |
        |
    // Cart page
    |
    |
    include ../includes/subscribe
    |
    |