extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") Driving
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") Supercars
                            li.breadcrumb-item Double Supercar Driving Experience at Goodwood Motor Circuit
    // Breadcrumbs
    |
    |
    section.category-inner-page
        .container-fluid
            .row
                .left
                    .entertainment-gallery
                        .swiper-container.gallery-top
                            .swiper-wrapper
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image2.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image3.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                            |
                            |
                            .swiper-button-prev.hidden-992
                                ="\n"
                                i.icon-angle-right
                            .swiper-button-next.hidden-992
                                ="\n"
                                i.icon-angle-right
                        // Gallery top
                        |
                        |
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image2.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image3.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                .swiper-slide
                                    .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                        // Gallery thumbs
                    // Entertainment Gallery
                    |
                    |
                    .about-entertainment
                        h3.title Overview
                        |
                        |
                        .editor-body
                            p Buckle up for the ultimate driving experience with this Double Supercar Blast plus High Speed Passenger Ride and Photo. Take your pick from the world’s top supercars like sleek Ferraris, stunning Lamborghinis, luxurious Aston Martins, sporty Porsches and many more.
                            p Supercars might vary a bit by location, but with venues available up and down the nation – you can pick what’s best for you. You’ll get to drive a total of up to six miles in your chosen cars, so you’ll have plenty of time to get the adrenaline flowing and feel of every twist and turn at your chosen venue.
                        |
                        |
                        .params-list
                            .row
                                .col-sm-4.col-6
                                    .params-item.flex
                                        .icon.flex-center
                                            img(src=require("../../images/icons/icon-delivery.svg"))
                                        p.name Instant Delivery
                                // Col
                                |
                                .col-sm-4.col-6
                                    .params-item.flex
                                        .icon.flex-center
                                            img(src=require("../../images/icons/icon-delivery.svg"))
                                        p.name Instant Delivery
                                // Col
                                |
                                .col-sm-4.col-6
                                    .params-item.flex
                                        .icon.flex-center
                                            img(src=require("../../images/icons/icon-delivery.svg"))
                                        p.name Instant Delivery
                                // Col
                                |
                                .col-sm-4.col-6
                                    .params-item.flex
                                        .icon.flex-center
                                            img(src=require("../../images/icons/icon-delivery.svg"))
                                        p.name Instant Delivery
                                // Col
                                |
                                .col-sm-4.col-6
                                    .params-item.flex
                                        .icon.flex-center
                                            img(src=require("../../images/icons/icon-delivery.svg"))
                                        p.name Instant Delivery
                                // Col
                                |
                                .col-sm-4.col-6
                                    .params-item.flex
                                        .icon.flex-center
                                            img(src=require("../../images/icons/icon-delivery.svg"))
                                        p.name Instant Delivery
                                // Col
                        |
                        |
                        blockquote
                            p 
                                strong You’ll strap in for a High Speed Passenger Ride from your professional 
                            ul
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li This incredible driving package also includes a photograph of you speeding around the track in a magnificent supercar, the perfect keepsake to remember your day.
                        |
                        |
                        .need-to-know
                            p.title What do I need to know?
                            ul
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li You’ll strap in for a High Speed Passenger Ride from your professional
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                        |
                        |
                        .divider
                        |
                        |
                        .included
                            p.title What’s included?
                            ul
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li You’ll strap in for a High Speed Passenger Ride from your professional
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                        |
                        |
                        .divider
                        |
                        |
                        .not-included
                            p.title What’s not included?
                            ul
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li You’ll strap in for a High Speed Passenger Ride from your professional
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                                li You’ll strap in for a High Speed Passenger Ride from your professional instructor.
                        |
                        |
                        .divider
                        |
                        |
                        .customer-reviews
                            h3.title Customer reviews
                            |
                            |
                            .rating-container.flex
                                div
                                    .rating
                                        ="\n"
                                        i.icon-star
                                        ="\n"
                                        i.icon-star
                                        ="\n"
                                        i.icon-star
                                        ="\n"
                                        i.icon-star
                                        ="\n"
                                        i.icon-star-o
                                        |
                                        |
                                        span (42 reviews)
                                    p #[strong 2570] out of #[strong 2597 (99%)] reviewers would recommend this product to a friend.
                                a(href="#add-review" class="btn-custom secondary") Add review
                            |
                            |
                            .reviews-list
                                .review-item
                                    .name-rating.flex
                                        p.name Marcus Galenberg
                                        .rating
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star-o
                                    p.date 28.10.2019
                                    .review
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                |
                                |
                                .review-item
                                    .name-rating.flex
                                        p.name Marcus Galenberg
                                        .rating
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star-o
                                    p.date 28.10.2019
                                    .review
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                |
                                |
                                .review-item
                                    .name-rating.flex
                                        p.name Marcus Galenberg
                                        .rating
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star
                                            ="\n"
                                            i.icon-star-o
                                    p.date 28.10.2019
                                    .review
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            // Reviews list
                            |
                            |
                            .add-review(id="add-review")
                                h3.title.text-center Vote our service & write a reviews
                                |
                                |
                                form(action="#" method="POST")
                                    .rater.flex
                                        p.val
                                    |
                                    |
                                    .form-group
                                        input(type="text" class="form-control" placeholder="Order number" required)
                                    |
                                    |
                                    .form-group
                                        textarea(class="form-control" rows="7" placeholder="Review" required)
                                    |
                                    |
                                    button(class="btn-custom secondary") Add review
                            // Add review
                        // Customer reviews
                    // About entertainment
                // Left
                |
                |
                .right
                    .entertainment-details
                        p.product-code Product code: WT239XS87
                        h2.title Double Supercar Driving Experience at Goodwood Motor Circuit
                        .rating
                            ="\n"
                            i.icon-star
                            ="\n"
                            i.icon-star
                            ="\n"
                            i.icon-star
                            ="\n"
                            i.icon-star
                            ="\n"
                            i.icon-star-o
                            |
                            |
                            span (42 reviews)
                        .location-persons.flex
                            .location
                                ="\n"
                                i.icon-marker
                                | 4 locations
                            .num-of-persons
                                ="\n"
                                i.icon-user
                                | for 2 persons
                        .form-group.select
                            select(class="custom-select" required)
                                option(value hidden) Choose from 3 location
                                option(value="quba") Quba
                                option(value="balakan") Balakan
                                option(value="shaki") Shaki
                        .form-group.select
                            select(class="custom-select" required)
                                option(value hidden) Person
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                        .price
                            p.old 185 AZN | Save 45%
                            p.current 120 AZN
                        |
                        |
                        a(href="#" class="btn-custom btn-block")
                            ="\n"
                            i.icon-cart
                            | Add to bag
                            ="\n"
                    // Entertainment details
                    |
                    |
                    .entertainment-locations
                        .locations
                            h3.title.flex
                                ="\n"
                                i.icon-marker
                                | 3 locations
                            |
                            |
                            .tags
                                ul.flex
                                    li
                                        ="\n"
                                        a(href="#") Quba
                                    li
                                        ="\n"
                                        a(href="#") Balakan
                                    li
                                        ="\n"
                                        a(href="#") Shaki
                        |
                        |
                        .locations-map
                            .coordinates(style="display: none;")
                                li(data-lat="41.363812" data-lng="48.522976") Quba
                                li(data-lat="41.706662" data-lng="46.378895") Balakan
                                li(data-lat="41.203401" data-lng="47.179411") Shaki
                            // Render this for dynamic markets on map
                            |
                            |
                            #map
                    // Entertainment locations
                    |
                    |
                    .tags.subcategories
                        ul.flex
                            li
                                ="\n"
                                a(href="category.html") Fuzz testing
                            li
                                ="\n"
                                a(href="category.html") Microservices
                            li
                                ="\n"
                                a(href="category.html") Metasploit
                            li
                                ="\n"
                                a(href="category.html") Threat model
                            li
                                ="\n"
                                a(href="category.html") Penetration testing
                // Right
        |
        |
        .related-experiences.ptb-8
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Related Experiences
                        // Section header
                        |
                        |
                        .new-experiences-slider
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | Baku, Quba
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | Baku, Quba
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image2.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | Baku, Quba
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image3.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | Baku, Quba
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | Baku, Quba
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                    |
                                    |
                                    .swiper-slide
                                        .default-block.flex
                                            .image
                                                ="\n"
                                                a(href="category-inner.html")
                                                    .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                            |
                                            |
                                            .info.flex
                                                h3.title
                                                    ="\n"
                                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                                .rating
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star
                                                    ="\n"
                                                    i.icon-star-o
                                                .location
                                                    ="\n"
                                                    i.icon-marker
                                                    | Baku, Quba
                                                .num-of-persons
                                                    ="\n"
                                                    i.icon-user
                                                    | for 2 persons
                                                .price-buy.flex
                                                    .price
                                                        p.old 185 AZN
                                                        p.current 120 AZN
                                                    |
                                                    |
                                                    .add-to-cart
                                                        ="\n"
                                                        a(href="javascript:void(0)")
                                                            ="\n"
                                                            i.icon-cart
                                                            ="\n"
                                        // Default block
                                    // Slide
                                |
                                |
                                .swiper-pagination
                            // Slider
                            |
                            |
                            .prev-slide.flex-center
                                ="\n"
                                i.icon-angle-right
                            .next-slide.flex-center
                                ="\n"
                                i.icon-angle-right
                        // Related experiencess (slider wrapper)
        // Related experiences (section)
        |
        |
    // Category inner page
    |
    |
    include ../includes/subscribe
    |
    |
    script(src="https://api-maps.yandex.ru/2.1/?apikey=887ea9ff-33c3-41ae-8fac-3545136a39ee&lang=ru_RU")
