extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") Driving
                            li.breadcrumb-item Supercars
    // Breadcrumbs
    |
    |
    section.category-page
        .category-intro.cover-center(style="background-image: url("+ require("../../images/category/cover.jpg") +")")
            .container-fluid
                .row
                    .col-12
                        h1.title Driving
                        p.subtitle Take control of two supercars for two 2 lap drives around the historic Goodwood Motor Circuit. Choose two from seven speedy supercars from Lamborghini, Ferrari and more
        // Page intro
        |
        |
        .category-content
            .container-fluid
                .row
                    .col-3.filters-wrapper
                        .toggle-filters.visible-1024
                            i.icon-filter
                        // Toggle filters
                        |
                        |
                        .filters-group
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item0" aria-expanded="true") Category
                                |
                                |
                                div(class="collapse show" id="filter-item0")
                                    .collapse-content
                                        .form-group
                                            input(type="checkbox" id="supercars" value="supercars")
                                            label(for="supercars") Supercars
                                        .form-group
                                            input(type="checkbox" id="aston-martin" value="aston-martin")
                                            label(for="aston-martin") Aston Martin
                                        .form-group
                                            input(type="checkbox" id="ferrari" value="ferrari")
                                            label(for="ferrari") Ferrari
                                        .form-group
                                            input(type="checkbox" id="lamborghini" value="lamborghini")
                                            label(for="lamborghini") Lamborghini
                                        .form-group
                                            input(type="checkbox" id="race-tracks" value="race-tracks")
                                            label(for="race-tracks") Real Race Tracks
                                        .form-group
                                            input(type="checkbox" id="electric-cars" value="electric-cars")
                                            label(for="electric-cars") Electric cars
                                        .form-group
                                            input(type="checkbox" id="muscle-cars" value="muscle-cars")
                                            label(for="muscle-cars") Muscle cars
                                        .form-group
                                            input(type="checkbox" id="go-karting" value="go-karting")
                                            label(for="go-karting") Go karting
                                        .form-group
                                            input(type="checkbox" id="off-road" value="off-road")
                                            label(for="off-road") Off road / 4x4
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item1" aria-expanded="true") Price range / AZN
                                |
                                |
                                div(class="collapse show" id="filter-item1")
                                    .collapse-content
                                        .form-group
                                            input(type="hidden" class="range-input" data-min="0" data-max="3499" value="350,2670")
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item3" aria-expanded="true") Location
                                |
                                |
                                div(class="collapse show" id="filter-item3")
                                    .collapse-content
                                        .form-group
                                            input(type="checkbox" id="baku" value="baku")
                                            label(for="baku") Baku
                                        .form-group
                                            input(type="checkbox" id="shaki" value="shaki")
                                            label(for="shaki") Shaki
                                        .form-group
                                            input(type="checkbox" id="balakan" value="balakan")
                                            label(for="balakan") Balakan
                                        .form-group
                                            input(type="checkbox" id="qusar" value="qusar")
                                            label(for="qusar") Qusar
                                        .form-group
                                            input(type="checkbox" id="qabala" value="qabala")
                                            label(for="qabala") Qabala
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item4" aria-expanded="true") Rating
                                |
                                |
                                div(class="collapse show" id="filter-item4")
                                    .collapse-content
                                        .rating
                                            ="\n"
                                            a(href="#")
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                |
                                                |
                                                span (12)
                                                ="\n"
                                        |
                                        |
                                        .rating
                                            ="\n"
                                            a(href="#")
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                                |
                                                |
                                                span & up (45)
                                                ="\n"
                                        |
                                        |
                                        .rating
                                            ="\n"
                                            a(href="#")
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                                ="\n"
                                                i.icon-star-o
                                                |
                                                |
                                                span & up (67)
                                                ="\n"
                                        |
                                        |
                                        .rating
                                            ="\n"
                                            a(href="#")
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                                ="\n"
                                                i.icon-star-o
                                                ="\n"
                                                i.icon-star-o
                                                |
                                                |
                                                span & up (21)
                                                ="\n"
                                        |
                                        |
                                        .rating
                                            ="\n"
                                            a(href="#")
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                                ="\n"
                                                i.icon-star-o
                                                ="\n"
                                                i.icon-star-o
                                                ="\n"
                                                i.icon-star-o
                                                |
                                                |
                                                span & up (4)
                                                ="\n"
                    // Col (Filters Wrapper)
                    |
                    |
                    .col-9.experiences-wrapper
                        .inline-filters.flex.hidden-575
                            ul.flex
                                li
                                    ="\n"
                                    a(href="#" class="active") New
                                li
                                    ="\n"
                                    a(href="#") Popularity
                                li
                                    ="\n"
                                    a(href="#") Price(low to high)
                                li
                                    ="\n"
                                    a(href="#") Price(high to low)
                                li
                                    ="\n"
                                    a(href="#") Rating
                            |
                            |
                            .change-view.hidden-767
                                ul.flex
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)" class="active" data-view="card")
                                            ="\n"
                                            i.icon-grid
                                            | Card
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)" data-view="list")
                                            ="\n"
                                            i.icon-list
                                            | List
                                            ="\n"
                            // Change view
                        // Inline filters
                        |
                        |
                        .experiences-grid
                            .row
                                .col-md-4.col-sm-6
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons (couple)
                                            .description
                                                ul
                                                    li Drive five supercars from an amazing selection including Ferrari and Lamborghini
                                                    li Speed around a quality venue or Real Race Track on 15 miles total driving distance
                                                    li Available weekdays AND weekends from February to November
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="javascript:void(0)")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/entertainments/image4.jpg") +")")
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons (couple)
                                            .description
                                                ul
                                                    li Drive five supercars from an amazing selection including Ferrari and Lamborghini
                                                    li Speed around a quality venue or Real Race Track on 15 miles total driving distance
                                                    li Available weekdays AND weekends from February to November
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="javascript:void(0)")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/entertainments/image6.jpg") +")")
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons (couple)
                                            .description
                                                ul
                                                    li Drive five supercars from an amazing selection including Ferrari and Lamborghini
                                                    li Speed around a quality venue or Real Race Track on 15 miles total driving distance
                                                    li Available weekdays AND weekends from February to November
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="javascript:void(0)")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons (couple)
                                            .description
                                                ul
                                                    li Drive five supercars from an amazing selection including Ferrari and Lamborghini
                                                    li Speed around a quality venue or Real Race Track on 15 miles total driving distance
                                                    li Available weekdays AND weekends from February to November
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="javascript:void(0)")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/entertainments/image4.jpg") +")")
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons (couple)
                                            .description
                                                ul
                                                    li Drive five supercars from an amazing selection including Ferrari and Lamborghini
                                                    li Speed around a quality venue or Real Race Track on 15 miles total driving distance
                                                    li Available weekdays AND weekends from February to November
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="javascript:void(0)")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/entertainments/image6.jpg") +")")
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons (couple)
                                            .description
                                                ul
                                                    li Drive five supercars from an amazing selection including Ferrari and Lamborghini
                                                    li Speed around a quality venue or Real Race Track on 15 miles total driving distance
                                                    li Available weekdays AND weekends from February to November
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="javascript:void(0)")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                // Col
                        // Experiences grid
                        |
                        |
                        .pagination-wrapper.flex
                            nav
                                ul.pagination
                                    li.page-item.disabled
                                        ="\n"
                                        a.page-link(href="#") &lt;
                                    li.page-item
                                        ="\n"
                                        a.page-link(href="#") 1
                                    li.page-item.active
                                        ="\n"
                                        a.page-link(href="#") 2
                                    li.page-item
                                        ="\n"
                                        a.page-link(href="#") ...
                                    li.page-item
                                        ="\n"
                                        a.page-link(href="#") 12
                                    li.page-item
                                        ="\n"
                                        a.page-link(href="#") 13
                                    li.page-item
                                        ="\n"
                                        a.page-link(href="#") &gt;
                            // Pagination
                            |
                            |
                            p Showing products  1-6 in 48
                        // Pagination wrapper
                    // Col (Products Wrapper)
                    |
                    |
        // Category content
    // Category page
    |
    |
    include ../includes/subscribe
    |
    |