extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Order summary
    // Breadcrumbs
    |
    |
    .site-alert.alert-danger(success-class="alert-success")
        .alert-content.flex
            p
                strong Something went wrong
                | To view details check your #[a(href="#" target="_blank") e-mail]
            |
            |
            button(class="close-alert")
                ="\n"
                img(src=require("../../images/icons/times.svg"))
    // Alert
    |
    |
    section.cart-page.checkout
        .container-fluid
            .row
                .left
                    .white-panel
                        .panel-header
                            h3.panel-title Than you for your order!
                            p Please check your inbox, as a confirmation email is on its way.
                        // Panel header
                        |
                        |
                        .panel-body
                            table.order-details
                                tr
                                    td Order Status
                                    td
                                        p.order-status.successful Successful
                                        // <p class="order-status unsuccessful">Unsuccessful</p>
                                tr
                                    td Order Total
                                    td
                                        p 45.00 AZN
                                tr
                                    td Order No
                                    td
                                        p 4QTUNIK17T34
                                tr
                                    td Order Date
                                    td
                                        p Friday, 11 October, 2019
                                tr
                                    td Delivery Date
                                    td
                                        p Monday, 14 October, 2019
                        // Panel-body
                    // Panel
                    |
                    |
                    .white-panel
                        .panel-header.flex
                            h3.panel-title Order Summary
                            p You have bought 4 items
                        // Panel header
                        |
                        |
                        .panel-body
                            .order-item.flex
                                .image
                                    ="\n"
                                    a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image4.jpg") +")")
                                .info
                                    p.product-code Product code: WT239XS87
                                    h3.title
                                        ="\n"
                                        a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                    .price
                                        p.old 185 AZN | Save 45%
                                        p.current 120 AZN
                                    .item-params.flex
                                        .param
                                            p Qabala
                                        .param
                                            p Person: 2
                            |
                            |
                            .divider
                            |
                            |
                            .order-item.flex
                                .image
                                    ="\n"
                                    a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image4.jpg") +")")
                                .info
                                    p.product-code Product code: WT239XS87
                                    h3.title
                                        ="\n"
                                        a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                    .price
                                        p.old 185 AZN | Save 45%
                                        p.current 120 AZN
                                    .item-params.flex
                                        .param
                                            p Qabala
                                        .param
                                            p Person: 2
                        // Panel body
                    // Panel
                    |
                    |
                    .order-actions
                        ul.flex
                            li
                                ="\n"
                                a(href="#") Cancel this Order
                            li
                                ="\n"
                                a(href="#") My Account
                    |
                    |
                    a(href="category.html" class="btn-custom primary discover") Continue discovering
                // Left
                |
                |
                .right
                    .see-also
                        .row
                            .col-xl-6.col-lg-12.col-md-4
                                .block-backgrounded.flex
                                    a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image7.jpg") +")")
                                    |
                                    |
                                    .info
                                        ="\n"
                                        a(href="category-inner.html" class="title") Supercars
                                        p.from experiences from 39.00 AZN
                            // Col
                            |
                            |
                            .col-xl-6.col-lg-12.col-md-4
                                .block-backgrounded.flex
                                    a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image7.jpg") +")")
                                    |
                                    |
                                    .info
                                        ="\n"
                                        a(href="category-inner.html" class="title") Supercars
                                        p.from experiences from 39.00 AZN
                            // Col
                            |
                            |
                            .col-lg-12.col-md-4
                                .block-backgrounded.flex
                                    a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image7.jpg") +")")
                                    |
                                    |
                                    .info
                                        ="\n"
                                        a(href="category-inner.html" class="title") Supercars
                                        p.from experiences from 39.00 AZN
                            // Col
                    // See also
                    |
                    |
                    .help-block
                        p.title
                            ="\n"
                            a(href="help.html")
                                ="\n"
                                i.icon-help-circle
                                | Need some help?
                        p Give our friendly customer service team a call and they'll be happy to assist
                    // Help block
                // Right
    // Checkout page
    |
    |