extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Checkout
    // Breadcrumbs
    |
    |
    section.cart-page.checkout
        .container-fluid
            .row
                .left
                    .white-panel.payment-options
                        .panel-header
                            h3.panel-title Delivery
                            p Some information about you. We’ll send your order confirmation to these details.
                        // Panel header
                        |
                        |
                        .panel-body
                            form(action="#" method="POST")
                                .user-data
                                    p.name Farid Ismayilov
                                    p.email f.s.ismayilov@gmail.com
                                    p.phone +(994) 55 209 09 14
                                // User data
                                |
                                |
                                .options-group
                                    ul
                                        li
                                            input(type="radio" id="standart" name="delivery" value="0")
                                            label(for="standart") Standard Delivery (+1.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="next-day" name="delivery" value="1" checked)
                                            label(for="next-day") Next Day Delivery (+3.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="email" name="delivery" value="2")
                                            label(for="email") Email Delivery with E-Vaucher (Free)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                // Options group
                                |
                                |
                                .divider
                                |
                                |
                                h3.panel-title Packaging
                                p Some information about you. We’ll send your order confirmation to these details.
                                .options-group
                                    ul
                                        li
                                            input(type="radio" id="envelope" name="packaging" value="0")
                                            label(for="envelope") Envelope (+1.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="gift" name="packaging" value="1" checked)
                                            label(for="gift") Gift Pack(+3.50 AZN)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                        li
                                            input(type="radio" id="premium" name="packaging" value="2")
                                            label(for="premium") Premium Gift Box (Free)
                                            |
                                            |
                                            .hint(data-toggle="tooltip" title="Some hint")
                                                ="\n"
                                                i.icon-hint
                                // Options group
                                |
                                |
                                .divider
                                |
                                |
                                h3.panel-title Payment Options
                                p Some information about you. We’ll send your order confirmation to these details.
                                .accepted-payments
                                    div
                                        ="\n"
                                        img(src=require("../../images/icons/visa2.svg"))
                                    div
                                        ="\n"
                                        img(src=require("../../images/icons/mastercard2.svg"))
                                |
                                |
                                .options-group.payment
                                    ul
                                        li
                                            input(type="radio" id="with-cash" name="payment-option" value="0")
                                            label(for="with-cash") Pay with Cash
                                        li
                                            input(type="radio" id="with-cart" name="payment-option" value="1" checked)
                                            label(for="with-cart") Pay with Bank Card
                                // Options group
                                |
                                |
                                .card-data
                                    .form-group
                                        label Card number
                                        input(type="text" class="form-control" value="1234 5678" required)
                                    |
                                    |
                                    .form-group
                                        label Expiry date
                                        select(name="month" class="custom-select" required)
                                            option(value hidden) MM
                                            option(value="01") 01
                                            option(value="02") 02
                                            option(value="03") 03
                                            option(value="04") 04
                                            option(value="05") 05
                                            option(value="06") 06
                                            option(value="07") 07
                                            option(value="08") 08
                                            option(value="09") 09
                                            option(value="10") 10
                                            option(value="11") 11
                                            option(value="12") 12
                                        |
                                        |
                                        select(name="month" class="custom-select" required)
                                            option(value hidden) YYYY
                                            option(value="2016") 2016
                                            option(value="2017") 2017
                                            option(value="2018") 2018
                                            option(value="2019") 2019
                                            option(value="2020") 2020
                                    |
                                    |
                                    .form-group
                                        label Name on card
                                        input(type="text" class="form-control" name="number-on-card" required)
                                    |
                                    |
                                    .form-group.flex.cvv
                                        label CVV
                                        input(type="text" class="form-control" name="cvv" required)
                                        |
                                        |
                                        img(src=require("../../images/icons/plastic-card.svg"))
                                // Card data
                                |
                                |
                                button(class="btn-custom btn-block primary") Confirm & Pay
                                |
                                |
                                p.panel-info-text By placing your order you agree to our #[a(href="terms.html" target="_blank") Terms & Conditions], privacy and returns policies . You also consent to some of your data being stored by MyBrands, which may be used to make future shopping experiences better for you.
                                |
                                |
                                .secure-page
                                    p.flex
                                        i.icon-lock
                                        | This page is secure.
                                    p All of your personal details are safe.
                                    p © Experience Days 2020
                                // Page is secure
                        // Panel body
                    // Panel (Payment options)
                // Left
                |
                |
                .right
                    .white-panel.order-summary
                        .panel-header
                            h3.panel-title Order Summary
                            p You have 4 items in the basket
                        // Panel header
                        |
                        |
                        .panel-body
                            .cart-item.flat
                                h3.title
                                    ="\n"
                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum dolor sit amet.
                                |
                                |
                                .price
                                    p.old 185 AZN | Save 45%
                                    p.current 120 AZN
                                |
                                |
                                .item-params.flex
                                    .param
                                        p Qabala    
                                    .param
                                        p Person: 2
                            |
                            |
                            .divider
                            |
                            |
                            .cart-item.flat
                                h3.title
                                    ="\n"
                                    a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum dolor sit amet.
                                |
                                |
                                .price
                                    p.old 185 AZN | Save 45%
                                    p.current 120 AZN
                                |
                                |
                                .item-params.flex
                                    .param
                                        p Qabala
                                    .param
                                        p Person: 2
                            |
                            |
                            .divider
                            |
                            |
                            .subtotal.flex
                                p Subtotal
                                ="\n"
                                strong 120.00 AZN
                            .subtotal.flex
                                p Delivery
                                ="\n"
                                strong free
                            |
                            |
                            .divider
                            |
                            |
                            .total.flex
                                p.text-uppercase Total
                                ="\n"
                                strong 120.00 AZN
                        // Panel body
                    // Order summary
                    |
                    |
                    .white-panel.promocode
                        .panel-body
                            h3 Promo code
                            |
                            |
                            form
                                .form-group
                                    input(type="text" class="form-control" placeholder="564457" maxlength="6")
                                |
                                |
                                button(class="btn-custom btn-block primary") Apply 
                    // Promocode
                    |
                    |
                    .help-block
                        p.title
                            ="\n"
                            a(href="help.html")
                                ="\n"
                                i.icon-help-circle
                                | Need some help?
                        p Give our friendly customer service team a call and they'll be happy to assist
                    // Help block
                // Right
    // Checkout page
    |
    |