extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Help Center / FAQ
    // Breadcrumbs
    |
    |
    section.static.help-center
        .container-fluid
            .row
                .col-xl-9
                    h1.block-title Help Center / FAQ
                    |
                    |
                    .editor-body
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .contact-info
                        .row
                            .col-lg-3.col-sm-4
                                .info-item
                                    p For Corporate Clients
                                    a(href="tel:") +994 (55) 700-43-43
                            // Col
                            .col-lg-3.col-sm-4
                                .info-item
                                    p Online Store
                                    a(href="tel:") +994 (55) 700-43-43
                            // Col
                            .col-lg-3.col-sm-4
                                .info-item
                                    p Support Center
                                    a(href="tel:") +994 (55) 700-43-43
                            // Col
                            .col-lg-3.col-sm-4
                                .info-item
                                    p Support Center
                                    a(href="mailto:") shop@example.az
                                    a(href="mailto:") office@example.az
                            // Col
                    // Contact info
                    |
                    |
                    .divider
        |
        |
        .faq-section
            .container-fluid
                .row
                    .col-12
                        h2.block-title FAQ
                    // col
                    |
                    |
                    .col-lg-3.col-md-4
                        ul.sidebar-list
                            li.active
                                ="\n"
                                a(href="account-orders.html")
                                    svg(width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333" class="hover-side")
                                    | General
                                    ="\n"
                            li
                                ="\n"
                                a(href="account-user-details.html")
                                    svg(width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M10 0C7.41531 0 5.3125 2.10281 5.3125 4.6875C5.3125 5.57388 5.56137 6.43738 6.03241 7.1846L10 13.5156L13.9676 7.1846C14.4386 6.43738 14.6875 5.57388 14.6875 4.6875C14.6875 2.10281 12.5847 0 10 0ZM10 7.61719C8.3847 7.61719 7.07031 6.3028 7.07031 4.6875C7.07031 3.0722 8.3847 1.75781 10 1.75781C11.6153 1.75781 12.9297 3.0722 12.9297 4.6875C12.9297 6.3028 11.6153 7.61719 10 7.61719ZM10 2.92969C9.03076 2.92969 8.24219 3.71826 8.24219 4.6875C8.24219 5.65674 9.03076 6.44531 10 6.44531C10.9692 6.44531 11.7578 5.65674 11.7578 4.6875C11.7578 3.71826 10.9692 2.92969 10 2.92969ZM6.50568 16.4453L6.9928 11.7578H3.41797L1.5 16.5L0 20H5.5H5.96741H14.0347H15H20.0031L18.5 16.5L16.5808 11.7578H12.9785L13.494 16.4453H6.50568Z" fill="#333" class="hover-side")
                                    | Delivery
                                    ="\n"
                            li
                                ="\n"
                                a(href="help-center.html")
                                    svg(width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M15.364 2.63603C13.6641 0.936172 11.4039 0 9 0C6.59605 0 4.33589 0.936172 2.63603 2.63603C0.936172 4.33589 0 6.59605 0 9C0 11.4041 0.936172 13.6641 2.63603 15.364C4.33589 17.0638 6.59605 18 9 18C11.4039 18 13.6641 17.0638 15.364 15.364C17.0638 13.6641 18 11.4041 18 9C18 6.59605 17.0638 4.33589 15.364 2.63603ZM12.8927 11.6496C13.2359 11.993 13.2359 12.5494 12.8927 12.8926C12.7211 13.0643 12.4961 13.1501 12.2712 13.1501C12.0462 13.1501 11.8213 13.0643 11.6496 12.8926L9 10.243L6.35037 12.8927C6.17871 13.0643 5.95377 13.1501 5.72882 13.1501C5.50388 13.1501 5.27893 13.0643 5.10727 12.8927C4.76408 12.5494 4.76408 11.993 5.10727 11.6498L7.75703 9L5.10727 6.35037C4.76408 6.00705 4.76408 5.45059 5.10727 5.10741C5.45059 4.76408 6.00705 4.76408 6.35023 5.10741L9 7.75703L11.6496 5.10741C11.993 4.76422 12.5494 4.76408 12.8926 5.10741C13.2359 5.45059 13.2359 6.00705 12.8926 6.35037L10.243 9L12.8927 11.6496Z" fill="#333" class="hover-side")
                                    | Cancellation
                                    ="\n"
                            li
                                ="\n"
                                a(href="delivery.html")
                                    svg(width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(width="20" height="14" rx="2" fill="#333" class="hover-side")
                                        rect(x="3" y="3" width="4" height="4" rx="1" fill="#fff")
                                        line(x1="3.75" y1="10.25" x2="16.25" y2="10.25" stroke="#fff" stroke-width="1.5" stroke-linecap="round")
                                    | Payment
                                    ="\n"
                    // Col
                    |
                    |
                    .col-lg-9.col-md-8
                        ul(class="faq-questions")
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question0") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question0")
                                    .faq-answer
                                        p The key trading terms can be found in the trader's glossary.
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question1") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question1")
                                    .faq-answer
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question2") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question2")
                                    .faq-answer
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet! Nostrum explicabo fuga praesentium, amet autem nesciunt corporis. Nostrum, voluptatem ullam. Necessitatibus, doloremque modi? Velit nemo nobis cupiditate odit exercitationem?
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question3") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question3")
                                    .faq-answer
                                        p The key trading terms can be found in the trader's glossary.
                            li
                                ="\n"
                                a(data-toggle="collapse" href="#question4") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                |
                                |
                                .collapse(id="question4")
                                    .faq-answer
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!
                    // Col
        // Faq section
    // Help center page
    |
    |