extends ../layout/layout.pug

block content
    section.intro-slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                .discount
                                    p Up to 50% discount
                                h1.title Gifts than go above and beyond
                                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                .discount
                                    p Up to 50% discount
                                h1.title Gifts than go above and beyond
                                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                .discount
                                    p Up to 50% discount
                                h1.title Gifts than go above and beyond
                                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            |
            |
            .swiper-button-prev
                ="\n"
                i.icon-angle-right
            .swiper-button-next
                ="\n"
                i.icon-angle-right
            |
            |
            .swiper-pagination
    // Intro slider
    |
    |
    section.we-do.ptb-5
        .container-fluid
            .row
                .col-sm-4
                    .service-item.flex
                        .icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/icon-delivery.svg"))
                        .info
                            p.name Instant Delivery
                            p experiences straight to your inbox
                // Col
                |
                |
                .col-sm-4
                    .service-item.flex
                        .icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/icon-calendar.svg"))
                        .info
                            p.name Flexible Booking
                            p let them choose their ideal date
                // Col
                |
                |
                .col-sm-4
                    .service-item.flex
                        .icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/icon-exchange.svg"))
                        .info
                            p.name Free Exchanges
                            p swap to the perfect experience
                // Col
    // We do
    |
    |
    section.popular-weekly.ptb-8
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title What’s popular this week
                    // Section header
                    |
                    |
                    .tags.hidden-767
                        ul.flex
                            li
                                ="\n"
                                a(href="category.html") Food and drink
                            li
                                ="\n"
                                a(href="category.html") Spa and Beauty
                            li
                                ="\n"
                                a(href="category.html") Flying
                            li
                                ="\n"
                                a(href="category.html") Sport
                            li
                                ="\n"
                                a(href="category.html") Arts and crafts
                    // Tags
                    |
                    |
                    .popular-experiences
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart.preload
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image2.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image3.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                            |
                            |
                            .swiper-pagination
                        // Slider
                        |
                        |
                        .prev-slide.flex-center
                            ="\n"
                            i.icon-angle-right
                        .next-slide.flex-center
                            ="\n"
                            i.icon-angle-right
                    // Popular experiences (slider wrapper)
    // Popular weekly
    |
    |
    section.full-width-bnr.cover-center(style="background-image: url("+ require("../../images/bnr-bg.jpg") +")")
        .container-fluid
            .row
                .col-12
                    h2.title
                        ="\n"
                        a(href="category.html") Gifts than go above and beyond. Gifts than go above and beyond.
                    p.subtitle It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
    // Banner to category
    |
    |
    section.new-experiences.ptb-8
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title New services
                    // Section header
                    |
                    |
                    .new-experiences-slider
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image2.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image3.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image0.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .default-block.flex
                                        .image
                                            ="\n"
                                            a(href="category-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/entertainments/image1.jpg"))
                                        |
                                        |
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                                            .rating
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star
                                                ="\n"
                                                i.icon-star-o
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Quba
                                            .num-of-persons
                                                ="\n"
                                                i.icon-user
                                                | for 2 persons
                                            .price-buy.flex
                                                .price
                                                    p.old 185 AZN
                                                    p.current 120 AZN
                                                |
                                                |
                                                .add-to-cart
                                                    ="\n"
                                                    a(href="#modal-added-item" data-toggle="modal")
                                                        ="\n"
                                                        i.icon-cart
                                                        ="\n"
                                    // Default block
                                // Slide
                            |
                            |
                            .swiper-pagination
                        // Slider
                        |
                        |
                        .prev-slide.flex-center
                            ="\n"
                            i.icon-angle-right
                        .next-slide.flex-center
                            ="\n"
                            i.icon-angle-right
                    // New experiencess (slider wrapper)
    // New experiences (section)
    |
    |
    section.explore-experiences.ptb-8
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title Explore new services
                    // Section header
                // Col
                |
                |
                .col-lg-3.col-md-5
                    .block-backgrounded.flex
                        a(href="category.html" class="cover-center" style="background-image: url("+ require("../../images/services/image0.jpg") +")")
                        |
                        |
                        .info
                            ="\n"
                            a(href="category.html" class="title") Food and drinks
                            p.from From 39.00 AZN
                // Col
                |
                |
                .col-lg-5.col-md-7
                    .block-backgrounded.flex
                        a(href="category.html" class="cover-center" style="background-image: url("+ require("../../images/services/image1.jpg") +")")
                        |
                        |
                        .info
                            ="\n"
                            a(href="category.html" class="title") Theatre and events
                            p.from From 39.00 AZN
                // Col
                |
                |
                .col-lg-4.col-md-6
                    .block-backgrounded.flex
                        a(href="category.html" class="cover-center" style="background-image: url("+ require("../../images/services/image2.jpg") +")")
                        |
                        |
                        .info
                            ="\n"
                            a(href="category.html" class="title") Driving
                            p.from From 39.00 AZN
                // Col
                |
                |
                .col-lg-4.col-md-6
                    .block-backgrounded.flex
                        a(href="category.html" class="cover-center" style="background-image: url("+ require("../../images/services/image3.jpg") +")")
                        |
                        |
                        .info
                            ="\n"
                            a(href="category.html" class="title") Art and crafts
                            p.from From 39.00 AZN
                // Col
                |
                |
                .col-lg-3.col-md-5
                    .block-backgrounded.flex
                        a(href="category.html" class="cover-center" style="background-image: url("+ require("../../images/services/image4.jpg") +")")
                        |
                        |
                        .info
                            ="\n"
                            a(href="category.html" class="title") Adventure
                            p.from From 39.00 AZN
                // Col
                |
                |
                .col-lg-5.col-md-7
                    .block-backgrounded.flex
                        a(href="category.html" class="cover-center" style="background-image: url("+ require("../../images/services/image5.jpg") +")")
                        |
                        |
                        .info
                            ="\n"
                            a(href="category.html" class="title") Spa and beauty
                            p.from From 39.00 AZN
                // Col
    // Explore new experiences
    |
    |
    include ../includes/subscribe
    |
    |
    div(class="modal modal-added-item" id="modal-added-item" tabindex="-1")
        div(class="modal-dialog modal-dialog-centered")
            div(class="modal-content")
                h3.modal-title Item added to the Card
                |
                |
                .added-items
                    .cart-item.flex
                        .image
                            ="\n"
                            a(href="category-inner.html" class="cover-center" style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                        |
                        |
                        .info.flex
                            p.product-code Product code: WT239XS87
                            h3.title
                                ="\n"
                                a(href="category-inner.html") Handcraft with craft gerhod lorem ipsum
                            |
                            |
                            .item-params.flex
                                .param
                                    select(class="custom-select" required)
                                        option(value="quba") Quba
                                        option(value="balakan") Balakan
                                        option(value="shaki") Shaki
                                .param
                                    select(class="custom-select" required)
                                        option(value hidden) Person:
                                        option(value="1") 1
                                        option(value="2") 2
                                        option(value="3") 3
                                        option(value="4") 4
                                        option(value="5") 5
                                        option(value="6") 6
                                        option(value="7") 7
                                        option(value="8") 8
                                        option(value="9") 9
                                        option(value="10") 10
                            |
                            |
                            .price
                                p.old 185 AZN | Save 45%
                                p.current 120 AZN
                    // Cart item
                // Added item block
                |
                |
                .actions.flex
                    ="\n"
                    a(href="cart.html") Go to basket
                    ="\n"
                    button(data-dismiss="modal") Continue Shopping
    // Modal added product item
