extends ../layout/simple-layout.pug

block content
    section.auth-page
        .logo
            ="\n"
            a(href="index.html")
                ="\n"
                img(src=require("../../images/logo.svg"))
                ="\n"
        |
        |
        .auth-wrapper
            ul.nav.flex
                li
                    ="\n"
                    a(href="register.html") Register
                li.active
                    ="\n"
                    a(href="login.html") Sign in
            |
            |
            .auth-content
                h2.auth-title Sign In with email
                |
                |
                form(action="#" method="POST")
                    .form-group
                        label E-mail
                        input(type="email" class="form-control" required)
                    |
                    |
                    .form-group
                        label Password
                        input(type="password" class="form-control" required)
                    |
                    |
                    button(class="btn-custom btn-block primary") Sign In
                    |
                    |
                    div.forgot-password.text-right
                        a(href="forgot-password.html") Forgot password?
                // Form
                |
                |
                .auth-with-socials.flex
                    h2.auth-title Sign In with
                    |
                    |
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-google.svg"))
                        | Google
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-facebook.svg"))
                        | Facebook
                // Auth With Socials
    // Auth page
    |
    |