extends ../layout/layout.pug

block content
    .breadcrumb-container.hidden-767
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Partnership
    // Breadcrumbs
    |
    |
    section.static.partnership
        .container-fluid
            .row
                .col-xl-9
                    h1.block-title Partnership
                    |
                    |
                    .editor-body
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    |
                    |
                    .divider
                    |
                    |
                    .contact-form
                        h2.title Send Us A Message
                        |
                        |
                        form(action="#" method="POST")
                            .form-group
                                label Firstname
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Lastname
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Mobile number
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Company name
                                input.form-control(type="text" required)
                            |
                            |
                            .form-group
                                label Message
                                textarea.form-control(rows="7" required)
                            |
                            |
                            p.info-text By creating your account, you agree to our #[a(href="terms.html") Terms and Conditions] & #[a(href="privacy.html") Privacy Policy]
                            |
                            |
                            button(class="btn-custom primary") Send us a message
                    // Contact form
    // Partnership page
    |
    |