extends ../layout/simple-layout.pug

block content
    section.auth-page.register
        .logo
            ="\n"
            a(href="index.html")
                ="\n"
                img(src=require("../../images/logo.svg"))
                ="\n"
        |
        |
        .auth-wrapper
            ul.nav.flex
                li.active
                    ="\n"
                    a(href="register.html") Register
                li
                    ="\n"
                    a(href="login.html") Sign in
            |
            |
            .auth-content
                .auth-with-socials.flex
                    h2.auth-title Sign Up with email
                    |
                    |
                    ="\n"
                    a(href="#")
                        ="\n"
                        img(src=require("../../images/icons/auth-google.svg"))
                        | Google
                        ="\n"
                    ="\n"
                    a(href="#")
                        ="\n"
                        img(src=require("../../images/icons/auth-facebook.svg"))
                        | Facebook
                        ="\n"
                    |
                    |
                    p.text-center Signing up with social is super quick. No extra passwords to remember - no brain fail. Don't worry, we'd never share any of your data or post anything on your behalf #notevil
                // Auth With Socials
                |
                |
                .divider
                |
                |
                h2.auth-title Sign Up using your e-mail address
                |
                |
                form(action="#" method="POST")
                    .form-group
                        label E-mail
                        input(type="email" class="form-control" required)
                    |
                    |
                    .form-group
                        label Firstname
                        input(type="text" class="form-control" required)
                    |
                    |
                    .form-group
                        label Lastname
                        input(type="text" class="form-control" required)
                    |
                    |
                    .form-group
                        label Password
                        input(type="password" class="form-control" required)
                    |
                    |
                    .form-group.birth-date
                        label Date of birth
                        select(name="day" class="custom-select" required)
                            option(value hidden) Day
                            option(value="1") 1 
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4 
                            option(value="5") 5 
                            option(value="6") 6 
                            option(value="7") 7 
                            option(value="8") 8 
                            option(value="9") 9 
                            option(value="10") 10 
                            option(value="11") 11
                            option(value="12") 12
                            option(value="13") 13
                            option(value="14") 14
                            option(value="15") 15
                            option(value="16") 16
                            option(value="17") 17
                            option(value="18") 18
                        |
                        |
                        select(name="month" class="custom-select" required)
                            option(value hidden) Month
                            option(value="yan") Yanuary
                            option(value="feb") February
                            option(value="mar") March
                            option(value="apr") April
                            option(value="may") May
                            option(value="june") June
                            option(value="july") July
                        |
                        |
                        select(name="year" class="custom-select" required)
                            option(value hidden) Year
                            option(value="1990") 1990
                            option(value="1991") 1991
                            option(value="1992") 1992
                            option(value="1993") 1993
                            option(value="1994") 1994
                            option(value="1995") 1995
                            option(value="1996") 1996
                            option(value="1997") 1997
                            option(value="1998") 1998
                            option(value="1999") 1999
                            option(value="2000") 2000
                    |
                    |
                    .form-group
                        label Gender
                        .genders.flex
                            .gender
                                input(type="radio" id="male" name="gender" value="male" checked)
                                label(for="male") Male
                            .gender
                                input(type="radio" id="fermale" name="gender" value="fermale")
                                label(for="fermale") Fermale
                    |
                    |
                    p.info-text By creating your account, you agree to our #[a(href="terms.html") Terms and Conditions] & #[a(href="privacy.html") Privacy Policy]
                    |
                    |
                    button(class="btn-custom btn-block primary") Sign Up
                // Form
    // Auth page
    |
    |