/* ***** -- default block ***** */
.default-block {
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;

    .image {
        padding-bottom: 72%;
        overflow: hidden;
    }

    .swiper-lazy {
        transition: transform .2s ease;
    }

    .info {
        position: relative;
        flex: 1;
        flex-flow: column;
        padding: 25px 22px;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #333;
        margin: 0 0 10px 0;
    }

    .description {
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin: 30px 0;

        * {
            margin: 0 0 15px 0;

            &:last-child {
                margin: 0;
            }
        }

        ul {
            list-style: disc;
            padding-left: 18px;
        }
    }

    .price-buy {
        justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;
    }

    .add-to-cart {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #F2F2F2;
        transition: .2s ease;

        a {
            color: #032F47;
        }

        &:hover {
            background: #032F47;

            &:after {
                border-color: #fff;
                border-left-color: transparent;
                border-right-color: transparent;
            }

            a {
                color: #fff;
            }
        }
    }
}

.rating {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 30px 0;

    i {
        color: #F2C94C;
        
        &:before {
            margin: 0;
        }
    }
    
    span {
        color: #333333;
        margin-left: .5rem;
    }
}

.location,
.num-of-persons {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #333333;
    margin: 0 0 4px 0;

    i {
        margin-right: 6px;
        font-size: 1.1rem;
    }
}

.num-of-persons {
    margin: 0 0 40px 0;
}

.price {
    position: relative;

    .old {
        position: absolute;
        top: -18px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 600;
        color: #828282;
        text-decoration: line-through;
    }

    .current {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #D90529;
    }
}

.default-block:hover {
    .image .swiper-lazy {
        transform: scale(1.05);
    }   
}

/* ***** -- backgrounded block ***** */
.block-backgrounded {
    align-items: flex-end;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    .cover-center {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
        transition: .2s ease;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(249, 106, 62, 0.0001) 0%, rgba(40, 27, 23, 0.15) 43.06%, rgba(20, 9, 5, 0.25) 65.32%, rgba(#000, .35) 100%);
        }
    }

    .info {
        position: relative;
        color: #fff;
        padding: 25px 20px;
        z-index: 2;
    }

    .title {
        display: block;
        font-family: "Montserrat Bold", sans-serif;
        color: #fff;
        margin: 0 0 5px 0;
    }

    .from {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    &:hover {
        .cover-center {
            transform: scale(1.05);
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- default-block ***** */
    .default-block {
        .info {
            padding: 25px 20px;
        }
    }
    
}