footer {
    background: #fff;

    .col-12 {
        justify-content: space-between;
        align-items: center;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/* ***** -- footer top ***** */
.footer-top {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 50px 0;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;

    li {
        font-weight: 600;
        margin: 0 25px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}

.socials {
    li {
        margin: 0 0 0 10px !important;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #032F47;
        background: #F2F4F7;
        border-radius: 50%;
        transition: .2s ease;

        &:hover {
            color: #F2F4F7;
            background: #032F47;
        }
    }
}

/* ***** -- footer top ***** */
.footer-bottom {
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding: 20px 0;

    .copyrights {
        color: #828282;
    }

    li {
        margin: 0 0 0 20px;

        &:first-child {
            margin: 0;
        }
    }
}

@media (max-width: 1200px) {
    /* ***** -- footer top ***** */
    .footer-top {
        padding: 40px 0;

        li {
            font-weight: 600;
            margin: 0 20px 10px 0;
        }
    }

}

@media (max-width: 768px) {
    /* ***** -- footer top ***** */
    .footer-top {
        .socials {
            width: 100%;
            margin: 20px 0 0 0;

            li {
                margin: 0 10px 0 0 !important;
            }
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- footer top ***** */
    .footer-top {
        .flex {
            justify-content: center;
        }

        li {
            width: 100%;
            text-align: center;
            margin: 0 0 20px 0;
        }

        .socials {
            margin: 40px 0 0 0;

            li {
                width: auto;
                margin: 0 5px !important;
            }
        }
    }

    /* ***** -- footer bottom ***** */
    .footer-bottom {
        .copyrights {
            width: 100%;
            text-align: center;
            margin: 0 0 10px 0;
        }

        ul {
            width: 100%;
            justify-content: center;
        }

        li {
            margin: 10px 15px 0 15px !important;
        }
    }

}