header {
    position: relative;
    z-index: 20;

    .col-12 {
        justify-content: space-between;
        align-items: center;
    }

    &.active {
        z-index: 150;

        .mobile-menu {
            max-height: calc(100vh - 127px);
            overflow-y: auto;
        }
    }
}

/* ***** -- header top ***** */
.header-top {
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding: 10px 0;
    background: #032F47;

    li {
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }

        a {
            color: #fff;
            opacity: .7;

            &:hover {
                opacity: 1;
            }
        }
    }

    .langs {
        margin-left: auto;
    }    
}

/* ***** -- header bottom ***** */
.header-bottom {
    position: relative;
    z-index: 10;
    padding: 15px 0;

    .logo {
        img {
            max-width: 179px;
        }
    }

    .actions {
        li {
            display: block;
            margin: 0 0 0 15px;

            &:first-child {
                margin: 0;
            }

            > a,
            .dropdown-toggle {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                color: #fff;
                background: #032F47;
                border-radius: 50%;
            }

            .search-toggler {
                color: #032F47;
                background: #fff;
            }

            .menu-toggler {
                i {
                    font-size: 1.2rem;
                }
            }
        }

        .counter {
            position: absolute;
            top: -6px;
            left: -6px;
            width: 18px;
            height: 18px;
            font-family: "Montserrat Bold", sans-serif;
            font-size: 11px;
            line-height: 13px;
            color: #fff;
            background: #D90529;
            border-radius: 50%;
        }
    }

    .user {
        .dropdown-toggle {
            padding: 0;

            i {
                position: static;
                font-size: 1.6rem;
                transform: none;
            }
        }

        .dropdown-menu {
            width: 260px;
            top: 120% !important;
            left: auto !important;
            right: 0 !important;
            border: none;
            border-radius: 3px;
            transform: none !important;
            box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);
        }

        a {
            font-family: "Montserrat Meium", sans-serif;
            font-size: 1.5rem;
            line-height: 1.8rem;
            padding: 18px 24px;
            border-bottom: 1px solid #dadada;

            &:last-child {
                border: none;
            }

            &:hover,
            &:focus {
                background: #fafafa;
                color: #D90529;

                .hover-side {
                    fill: #D90529;
                }
            }
        }

        svg {
            margin: 0 10px 0 0;
        }
    }

}

/* ***** -- main menu ***** */
.main-menu {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 1.3rem;
    line-height: 1.6rem;
    background: #fff;

    ul > li {
        text-transform: uppercase;
        border-right: 1px solid #E0E0E0;

        &:first-child {
            border-left: 1px solid #E0E0E0;
        }

        a {
            display: inline-block;
            color: #032F47;
            padding: 18px 20px;
            transition: .2s ease;

            &:hover {
                background: #D90529;
                color: #fff;
            }
        }
    }

}

.content-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105vh;
    background: rgba(#000, .8);
    z-index: 80;
    display: none;
}

@media (max-width: 1366px) {
    /* ***** -- header bottom ***** */
    .header-bottom {
        padding: 10px 0;

        .logo {
            img {
                max-width: 170px;
            }
        }

        .actions {
            li {
                > a,
                .dropdown-toggle {
                    width: 36px;
                    height: 36px;
                }

                i {
                    font-size: 1.4rem;
                }
            }
        }

        .user {
            .dropdown-toggle {
                i {
                    font-size: 1.4rem;
                }
            }
        }
    }

    /* ***** -- main menu ***** */
    .main-menu {
        ul > li {
            a {
                padding: 16px 20px;
            }
        }

    }

}

@media (max-width: 575px) {
    /* ***** -- header bottom ***** */
    .header-bottom {
        padding: 15px 0;

        .logo {
            img {
                max-width: 142px;
            }
        }

        .actions {
            li {
                margin: 0 0 0 10px;
            }
        }
    }

}