/* ***** -- search block ***** */
.search-block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F2F4F7;

    * {
        height: inherit;
    }

    .form-group {
        margin: 0;
    }

    .form-control {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 2.4rem;
        line-height: 2.9rem;
        text-align: center;
        color: #032F47;
        height: inherit;
        padding: 0 3rem 0 0;
        border: none;
        background: none;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #dadada;
    }
    ::-moz-placeholder {
        color: #dadada;
    }
    :-ms-input-placeholder {
        color: #dadada;
    }
    :-moz-placeholder {
        color: #dadada;
    }

    .close-search-block {
        position: absolute;
        top: 0;
        right: 12px;
        height: 100%;
        background: none;
        border: none;
        padding: 0 5px;
        opacity: .4;
        transition: .2s ease;

        img {
            width: 1.6rem;
            height: auto;
        }

        &:hover {
            opacity: 1;
        }
    }
}

/* ***** -- search results ***** */
.search-results {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    max-width: 790px;
    height: auto;
    max-height: calc(100vh - 130px);
    overflow-y: auto;
    transform: translateX(-50%);
    padding: 40px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.212385);

    &.active {
        display: block;
    }

    * {
        height: auto;
    }
}

.search-item {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #DADADA;

    &:last-child {
        border: none;
        padding: 0;
        margin: 0;
    }

    .image {
        border-radius: 3px;
        width: 80px;
        height: 70px;
        overflow: hidden;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .info {
        position: relative;
        width: calc(100% - 80px);
        padding-left: 20px;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #333;
        max-width: calc(100% - 140px);
        margin: 0 0 10px 0;
    }

    .location,
    .num-of-persons {
        margin: 8px 15px 0 0;
    }

    .price {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;

        .old {
            position: static;
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- search results ***** */
    .search-results {
        padding: 25px 20px;
        box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.212385);
    }

    .search-item {
        .image {
            width: 70px;
            height: 60px;
        }

        .info {
            width: calc(100% - 70px);
            padding-left: 15px;
        }

        .title {
            max-width: 100%;
        }

        .price {
            margin: 10px 0 0 0;
            text-align: left;
            position: static;
        }
    }

}