.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    max-height: 0px;
    overflow: hidden;
    z-index: 200;
    transition: .3s ease;

    .top-nav {
        text-transform: uppercase;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 15px;
            border-top: 1px solid #dadada;

            &:first-child {
                background: #F2F4F7;
            }

            &:last-child {
                border-bottom: 1px solid #dadada;
            }
        }

        a {
            font-family: "Montserrat Bold", sans-serif;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: #032F47;

            i {
                margin: 0 10px 0 0;
            }
        }
    }
}

.menu-footer {
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 40px 15px 0 15px;

    .copyrights {
        justify-content: space-between;
        align-items: center;
    }

    .copyrights {
        font-size: 1.3rem;
        line-height: 1.6rem;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        margin: 40px 0 0 0;
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -15px;
            right: -15px;
            border-top: 1px solid #dadada;
        }

        p {
            color: #828282;
        }

        li {
            margin: 0 0 0 20px;
    
            &:first-child {
                margin: 0;
            }
        }
    }
}

.bottom-nav {
    li {
        font-family: "Montserrat Medium", sans-serif;
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}

@media (max-width: 767px) {
    .menu-footer {
        .copyrights {
            p {
                width: 100%;
                text-align: center;
                margin: 0 0 5px 0;
            }

            ul {
                width: 100%;
                justify-content: center;

                li {
                    margin: 10px 12px 0 12px !important; 
                }
            }
        }

        .socials {
            li {
                margin: 0 5px !important;
            }
        }    
    }

    .bottom-nav,
    .socials {
        width: 100%;
        justify-content: center;
    }

    .bottom-nav {
        margin: 0 0 30px 0;

        li {
            margin: 0 12px;
        }
    }
}

@media (max-width: 575px) {
    .bottom-nav {
        li {
            width: 100%;
            text-align: center;
            margin: 0 0 20px 0;
        }
    }
}