footer
    .footer-top
        .container-fluid
            .row
                .col-12.flex
                    ul.flex
                        li
                            ="\n"
                            a(href="about.html") About us
                        li
                            ="\n"
                            a(href="partnership.html") Partnership
                        li
                            ="\n"
                            a(href="contact.html") Contact us
                        li
                            ="\n"
                            a(href="faq.html") Help center
                    |
                    |
                    ul.socials.flex
                        li
                            ="\n"
                            a(href="#", target="_blank")
                                i.icon-facebook
                        li
                            ="\n"
                            a(href="#", target="_blank")
                                i.icon-twitter
                        li
                            ="\n"
                            a(href="#", target="_blank")
                                i.icon-linkedin
                        li
                            ="\n"
                            a(href="#", target="_blank")
                                i.icon-youtube
                // Col
    // Top
    |
    |
    .footer-bottom
        .container-fluid
            .row
                .col-12.flex
                    p.copyrights © 2020. EUROTOURISM
                    |
                    |
                    ul.flex
                        li
                            ="\n"
                            a(href="terms.html") Terms & Conditions
                        li
                            ="\n"
                            a(href="privacy.html") Privacy Policy
                // Col
// Footer