header
    .header-top
        .container-fluid
            .row
                .col-12.flex
                    ul.flex.hidden-575
                        li
                            ="\n"
                            a(href="about.html") About us
                        li
                            ="\n"
                            a(href="partnership.html") Partnership
                        li
                            ="\n"
                            a(href="help-center.html") Contact us
                        li
                            ="\n"
                            a(href="help-center.html") Help
                    |
                    |
                    .langs
                        .dropdown
                            button(class="dropdown-toggle" data-toggle="dropdown")
                                ="\n"
                                |EN
                                i.icon-dropdown-arrow
                            ="\n"
                            .dropdown-menu
                                ="\n"
                                a(class="dropdown-item" href="#") RU
                                ="\n"
                                a(class="dropdown-item" href="#") AZ
                    // Langs
    // Header top
    |
    |
    .header-bottom
        .container-fluid
            .row
                .col-12.flex
                    ="\n"
                    a(href="index.html" class="logo")
                        ="\n"
                        img(src=require("../../images/logo.svg"))
                        ="\n"
                    |
                    |
                    ul.actions.flex
                        li
                            ="\n"
                            a(href="javascript:void(0)" class="search-toggler")
                                ="\n"
                                i.icon-search
                                ="\n"
                        li
                            ="\n"
                            a(href="cart.html")
                                ="\n"
                                i.icon-cart
                                ="\n"
                                span.counter.flex-center 6
                        li.visible-1200
                            ="\n"
                            a(href="javascript:void(0)" class="menu-toggler")
                                ="\n"
                                i.icon-bars
                                ="\n"
                        li.hidden-1200
                            .user
                                .dropdown
                                    button(class="dropdown-toggle" data-toggle="dropdown")
                                        ="\n"
                                        i.icon-user
                                    ="\n"
                                    .dropdown-menu
                                        ="\n"
                                        a(href="account-orders.html" class="dropdown-item")
                                            svg(width="14" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M13.2533 0.462449C12.9797 0.336381 12.6573 0.385438 12.4335 0.587114L11.2526 1.63272C11.2205 1.66131 11.172 1.66114 11.14 1.63238L9.53327 0.195293C9.24267 -0.0650978 8.80273 -0.0650978 8.51213 0.195293L6.90681 1.63106C6.87452 1.65991 6.82571 1.65991 6.79342 1.63106L5.18793 0.195293C4.89733 -0.0650552 4.45739 -0.0650552 4.16679 0.195293L2.55981 1.63238C2.52765 1.66114 2.47906 1.66127 2.44672 1.63268L1.26475 0.587114C0.951173 0.308257 0.470896 0.336381 0.19204 0.649956C0.0669924 0.790576 -0.00142414 0.972595 2.24804e-05 1.16074V16.8393C-0.00278566 17.2595 0.335638 17.6025 0.755922 17.6053C0.944195 17.6066 1.12621 17.538 1.26688 17.4129L2.44778 16.3673C2.47991 16.3387 2.52837 16.3389 2.56032 16.3676L4.16709 17.8047C4.45769 18.0651 4.89763 18.0651 5.18823 17.8047L6.79372 16.3689C6.82601 16.3401 6.87481 16.3401 6.90711 16.3689L8.5126 17.8047C8.80324 18.0649 9.24314 18.0649 9.53374 17.8047L11.1408 16.3676C11.173 16.3388 11.2216 16.3387 11.2539 16.3673L12.4359 17.4128C12.7496 17.6916 13.2298 17.6632 13.5085 17.3495C13.6334 17.209 13.7017 17.0272 13.7003 16.8393V1.16074C13.7043 0.859546 13.5285 0.584901 13.2533 0.462449Z" fill="#333" class="hover-side")
                                            | My Orders
                                            ="\n"
                                        ="\n"
                                        a(href="javascript:void(0)" class="dropdown-item")
                                            svg(width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" clip-rule="evenodd" d="M10.5 10.4999C10.5 10.086 10.8353 9.74995 11.25 9.74995C11.6647 9.74995 12 10.086 12 10.4999V13.5C12 14.7405 10.9904 15.75 9.74995 15.75H7.49995V16.5C7.49995 17.3272 6.82732 18 6.00005 18C5.84019 18 5.68803 17.9775 5.53505 17.9302L1.02145 16.4257C0.408005 16.2127 0 15.6404 0 14.9999V1.49991C0 0.672638 0.672775 0 1.50005 0C1.52071 0 1.54067 0.0042733 1.56062 0.00854453C1.57608 0.0118532 1.59153 0.0151607 1.6073 0.0164795C1.61892 0.0149267 1.62986 0.0117845 1.64075 0.0086563C1.65587 0.00431459 1.6709 0 1.6875 0H9.74995C10.9904 0 12 1.00951 12 2.25V4.5C12 4.91391 11.6647 5.24995 11.25 5.24995C10.8353 5.24995 10.5 4.91391 10.5 4.5V2.25C10.5 1.83664 10.164 1.49991 9.74995 1.49991H6.25644L6.4785 1.5742C7.09195 1.7872 7.49995 2.35945 7.49995 2.99995V14.25H9.74995C10.164 14.25 10.5 13.9132 10.5 13.5V10.4999ZM14.7815 3.96976L17.7816 6.96971C18.0747 7.26291 18.0747 7.73697 17.7816 8.03017L14.7815 11.0303C14.5671 11.2446 14.2445 11.3092 13.9641 11.193C13.6843 11.0767 13.5013 10.803 13.5013 10.4999V8.2499H10.5013C10.0873 8.2499 9.75123 7.91399 9.75123 7.49994C9.75123 7.0859 10.0873 6.74999 10.5013 6.74999H13.5013V4.49999C13.5013 4.1969 13.6843 3.92321 13.9641 3.80689C14.2445 3.69071 14.5671 3.75525 14.7815 3.96976Z" fill="#333" class="hover-side")
                                            | Sign Out
                                            ="\n"
                            // User dropdown
                    // Actions
        |
        |
        .search-block
            .container-fluid
                .row
                    .col-12
                        form(action="#" method="GET")
                            .form-group
                                input(type="text" class="form-control" name="search" placeholder="Search something" autocomplete="off")
                            |
                            |
                            button(type="button" class="close-search-block")
                                ="\n"
                                img(src=require("../../images/icons/times-dark.svg"))
            |
            |
            .search-results(visible-class="active")
                .search-item.flex
                    .image
                        ="\n"
                        a.cover-center(href="category-inner.html" style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                    .info
                        h3.title
                            ="\n"
                            a(href="category-inner") Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum
                        .flex
                            .location
                                ="\n"
                                i.icon-marker
                                | Baku, Quba
                            .num-of-persons
                                ="\n"
                                i.icon-user
                                | for 2 persons
                        .price
                            .old 185 AZN
                            .current 120 AZN
                |
                |
                .search-item.flex
                    .image
                        ="\n"
                        a.cover-center(href="category-inner.html" style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                    .info
                        h3.title
                            ="\n"
                            a(href="category-inner") Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum
                        .flex
                            .location
                                ="\n"
                                i.icon-marker
                                | Baku, Quba
                            .num-of-persons
                                ="\n"
                                i.icon-user
                                | for 2 persons
                        .price
                            .old 185 AZN
                            .current 120 AZN
                |
                |
                .search-item.flex
                    .image
                        ="\n"
                        a.cover-center(href="category-inner.html" style="background-image: url("+ require("../../images/entertainments/image3.jpg") +")")
                    .info
                        h3.title
                            ="\n"
                            a(href="category-inner") Handcraft with craft gerhod lorem ipsum craft gerhod lorem ipsum
                        .flex
                            .location
                                ="\n"
                                i.icon-marker
                                | Baku, Quba
                            .num-of-persons
                                ="\n"
                                i.icon-user
                                | for 2 persons
                        .price
                            .old 185 AZN
                            .current 120 AZN
            // Search results
        // Search block
    // Header bottom
    |
    |
    nav.main-menu.hidden-1200
        .container-fluid
            .row
                .col-12
                    ul.flex
                        li
                            ="\n"
                            a(href="category.html") Driving
                        li
                            ="\n"
                            a(href="category.html") Food and drink
                        li
                            ="\n"
                            a(href="category.html") Spa and Beauty
                        li
                            ="\n"
                            a(href="category.html") Days out and Tours
                        li
                            ="\n"
                            a(href="category.html") Flying
                        li
                            ="\n"
                            a(href="category.html") Sport
                        li
                            ="\n"
                            a(href="category.html") Theatre and events
                        li
                            ="\n"
                            a(href="category.html") Arts and crafts
    // Main menu
    |
    |
    nav.mobile-menu.visible-1200
        ul.top-nav
            li
                ="\n"
                a(href="account-orders.html")
                    ="\n"
                    i.icon-user
                    | My orders
                    ="\n"
                |
                |
                a(href="javascript:void(0)") Sign out
                // If user logged in
            li
                ="\n"
                a(href="category.html") Driving
            li
                ="\n"
                a(href="category.html") Food and drink
            li
                ="\n"
                a(href="category.html") Spa and Beauty
            li
                ="\n"
                a(href="category.html") Days out and Tours
            li
                ="\n"
                a(href="category.html") Flying
            li
                ="\n"
                a(href="category.html") Sport
            li
                ="\n"
                a(href="category.html") Theatre and events
            li
                ="\n"
                a(href="category.html") Arts and crafts
        // Top nav
        |
        |
        .menu-footer.flex
            ul.bottom-nav.flex
                li
                    ="\n"
                    a(href="about.html") About us
                li
                    ="\n"
                    a(href="partnership.html") Partnership
                li
                    ="\n"
                    a(href="contact.html") Contact us
                li
                    ="\n"
                    a(href="faq.html") Help center
            // Bottom nav
            |
            |
            ul.socials.flex
                li
                    ="\n"
                    a(href="#", target="_blank")
                        i.icon-facebook
                li
                    ="\n"
                    a(href="#", target="_blank")
                        i.icon-twitter
                li
                    ="\n"
                    a(href="#", target="_blank")
                        i.icon-linkedin
                li
                    ="\n"
                    a(href="#", target="_blank")
                        i.icon-youtube
            |
            |
            .copyrights.flex
                p © 2020. EUROTOURISM
                |
                |
                ul.flex
                    li
                        ="\n"
                        a(href="terms.html") Terms & Conditions
                    li
                        ="\n"
                        a(href="privacy.html") Privacy Policy
            // Copyrights
        // Menu footer
    // Side menu
// Header
|
|
.content-overlay
// For mobiles
|
|