header
    .header-top
        .container-fluid
            .row
                .col-12.flex
                    ul.flex.hidden-575
                        li
                            ="\n"
                            a(href="about.html") About us
                        li
                            ="\n"
                            a(href="partnership.html") Partnership
                        li
                            ="\n"
                            a(href="help-center.html") Contact us
                        li
                            ="\n"
                            a(href="help-center.html") Help
                    |
                    |
                    .langs
                        .dropdown
                            button(class="dropdown-toggle" data-toggle="dropdown")
                                ="\n"
                                |EN
                                i.icon-dropdown-arrow
                            ="\n"
                            .dropdown-menu
                                ="\n"
                                a(class="dropdown-item" href="#") RU
                                ="\n"
                                a(class="dropdown-item" href="#") AZ
                    // Langs
    // Header top
// Header
|
|