.about-us {
    .block-title,
    .editor-body,
    .shop-stats,
    .divider {
        max-width: 894px;
    }
}

/* ***** -- shop stats ***** */
.shop-stats {
    margin: 70px 0 0 0;

    .row {
        width: calc(100% + 24px);
    }

    .stat-item {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;
        position: relative;
        width: 33.333333%;
        padding: 20px 12px 0 12px;
        color: #333;
    }

    strong {
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
    }

    .num {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 5rem;
        line-height: 6.1rem;
    }

    .desc {
        max-width: 260px;
        margin: 15px auto 0 auto;
    }
}

/* ***** -- images wrapper ***** */
.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0 0;

    img {
        margin: 0 0 24px 0;
    }

    &.img-2x {
        img {
            width: calc(50% - 16px);
        }
    }

    &.img-3x {
        img {
            width: calc(33.333333% - 12px);
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- shop stats ***** */
    .shop-stats {
        margin: 50px 0 0 0;

        .stat-item {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        .num {
            font-size: 3.8rem;
            line-height: 4.9rem;
        }
    
        .desc {
            margin: 15px auto 0 auto;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- shop stats ***** */
    .shop-stats {
        .stat-item {
            width: 50%;
            margin: 20px 0;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- shop stats ***** */
    .shop-stats {
        margin: 30px 0;
    }

    /* ***** -- images wrapper ***** */
    .images-wrapper {
        margin: 30px 0 0 0;
    
        img {
            margin: 0 0 12px 0;
        }
    
        &.img-2x {
            img {
                width: calc(50% - 6px);
            }
        }
    
        &.img-3x {
            img {
                width: calc(50% - 6px);
            }
        }
    }

}

@media (max-width: 480px) {
    /* ***** -- shop stats ***** */
    .shop-stats {
        .stat-item {
            width: 100%;
        }
    }

    /* ***** -- images wrapper ***** */
    .images-wrapper {
        &.img-2x {
            img {
                width: 100%;
            }
        }
    
        &.img-3x {
            img {
                width: 100%;
            }
        }
    }

}