.auth-page {
    padding: 0 0 40px 0;

    .logo {
        padding: 60px 12px;
        text-align: center;

        img {
            width: 238px;
        }
    }
}

.auth-wrapper {
    width: 100%;
    max-width: 614px;
    padding: 0 12px;
    margin: 0 auto;
    font-family: "Montserrat Bold", sans-serif;

    a {
        color: #333;
    }

    .nav {
        width: 100%;
        text-transform: uppercase;
        margin: 0 0 5px 0;
        background: #fff;

        li {
            width: 50%;

            &.active {
                a {
                    background: #DADADA;
                }
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            text-align: center;
            padding: 23px 10px;
        }
    }

    .form-group {
        font-family: "Montserrat", sans-serif;
        margin: 0 0 30px 0;

        label {
            font-family: "Montserrat Medium", sans-serif;
        }
    }
}

.auth-content {
    padding: 50px;
    background: #fff;

    .divider {
        margin: 40px 0;
        height: 1px;
        background: #dadada;
    }

    .auth-title {
        font-size: 2.4rem;
        line-height: 2.9rem;
        text-align: center;
        width: 100%;
        margin: 0 0 40px 0;
    }

    .forgot-password {
        margin: 20px 0 0 0;

        a {
            font-family: "Montserrat", sans-serif;
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .info-text {
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin: 0 0 40px 0;
        opacity: 1;

        a {
            text-decoration: underline;
        }
    }
}

.auth-with-socials {
    justify-content: space-between;
    margin: 40px 0 0 0;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        width: calc(50% - 10px);
        padding: 18px 10px;
        border: 1px solid #DADADA;
        border-radius: 2px;

        img {
            width: 24px;
            margin: 0 12px 0 0;
        }
    }

    > p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin: 25px 0 0 0;
    }
}

.auth-page.register {
    .auth-with-socials {
        margin: 0;
    }
}

@media (max-width: 1366px) {
    .auth-page {
        .logo {
            padding: 30px 12px;
    
            img {
                width: 192px;
            }
        }
    }

    .auth-wrapper {
        .nav {
            a {
                padding: 18px 10px;
            }
        }
    
        .form-group {
            margin: 0 0 25px 0;
        }
    }

    .auth-content {
        padding: 40px;
    
        .auth-title {
            font-size: 2.2rem;
            line-height: 2.7rem;
            margin: 0 0 30px 0;
        }
    }
    
    .auth-with-socials {
        a {
            padding: 15px 10px;
        }
    }

}

@media (max-width: 575px) {
    .auth-page {
        .logo {
            padding: 20px 12px;
        }
    }

    .auth-wrapper {
        .nav {
            a {
                font-size: 1.4rem;
                padding: 15px 10px;
            }
        }
    }

    .auth-content {
        padding: 30px 20px;

        .divider {
            margin: 30px 0;
        }
    
        .auth-title {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    
    .auth-with-socials {
        display: block;

        a {
            width: 100%;
            margin: 0 0 10px 0;

            &:last-of-type {
                margin: 0;
            }
        }
    }

}