.cart-page {
    padding: 20px 0 0 0;

    .left {
        width: 60%;
        padding: 0 12px;
    }

    .right {
        width: 40%;
        padding: 0 12px;
    }
}

/* ***** -- cart item ***** */
.remove {
    a {
        color: #828282;
    }

    &:hover {
        a {
            color: #333;
        }
    }
}

.cart-item {
    margin: 0 0 20px 0;
    
    .image {
        border-radius: 5px 0 0 5px;
        width: 27%;
        padding-bottom: 25%;
        overflow: hidden;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .info {
        flex-flow: column;
        position: relative;
        width: 73%;
        padding: 20px 20px 15px 20px;
        background: #fff;
        border-radius: 0 5px 5px 0;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #333;
        max-width: 70%;
        margin: 10px 0 30px 0;
    }

    .price {
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;

        .old {
            position: static;
            margin: 0 0 .5rem 0;
        }
    }

    .item-params {
        margin-top: auto;
        align-items: center;
    }

    .param {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin: 0 20px 0 0;

        p {
            font-weight: 600;
            margin: -10px 8px 0 0;
        }

        &:first-child {
            .custom-select {
                width: 180px;
            }
        }

        &:last-child {
            margin: 0;

            .custom-select {
                width: 140px;
            }
        }
    }

    .selectize-control.single .selectize-input {
        padding: 13px 35px 13px 15px;
        font-size: 1.4rem;
    }

    .selectize-control.single .selectize-input:after {
        top: 1.4rem;
        right: 1.5rem;
    }

    .selectize-dropdown .option {
        padding: 13px 15px;
        font-size: 1.4rem;
    }

    .remove {
        position: absolute;
        bottom: 34px;
        right: 32px;
    }
}

/* ***** -- order summary ***** */
.order-summary {
    .subtotal,
    .total {
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        margin: 0 0 15px 0;

        strong {
            font-family: "Montserrat Bold", sans-serif;
        }
    }

    .total {
        font-family: "Montserrat Bold", sans-serif;
        text-transform: uppercase;
        margin: 0;
    }

    .btn-custom {
        margin: 30px 0;
    }

}

.accepted-payments {
    p {
        margin: 0 0 24px 0;
    }

    > div {
        display: inline-block;
        text-align: center;
        height: 35px;
        width: 62px;
        padding: 4px 13px;
        margin: 0 10px 0 0;
        background: #f4f4f4;
    }
}

@media (max-width: 992px) {
    .cart-page {    
        .left,
        .right {
            width: 100%;
        }
    }

}

@media (max-width: 575px) {
    .cart-item {
        .image {
            border-radius: 5px 5px 0 0;
            width: 100%;
            padding-bottom: 70%;
        }
    
        .info {
            width: 100%;
            border-radius: 0 0 5px 5px;
        }

        .title {
            max-width: 100%;
            margin: 10px 0;
        }
    
        .price {
            position: static;
            text-align: left;
            margin: 20px 0 0 0;
        }
    
        .param {
            width: 100%;
            margin: 5px 0 0 0;

            .custom-select {
                width: 100% !important;
            }
        }
    
        .remove {
            bottom: 23px;
            right: 20px;
        }
    }

}