/* ***** -- category intro ***** */
.category-intro {
    position: relative;
    color: #fff;
    padding: 145px 0 50px 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 101%;
        background: radial-gradient(61.35% 1075.11% at 14.69% 100%, rgba(#000, .7) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0 0 25px 0;
        max-width: 90rem;
    }

    .subtitle {
        max-width: 69rem;
    }
}

.category-content {
    padding: 40px 0;
}

/* ***** -- filters group ***** */
.toggle-filters {
    position: absolute;
    top: calc(50% - 17px);
    right: -38px;
    padding: 5px 8px;
    background: #fff;
    border-radius: 0 2px 2px 0;
    border: 1px solid #E0E0E0;
    border-left: 0;
    z-index: 100;
}

.filters-group {
    position: relative;
    background: #fff;

    .filter-item {
        padding: 30px 25px;
        border-bottom: 1px solid #E0E0E0;
    }

    a[data-toggle="collapse"] {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #333;
    }

    .form-group {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }

    .filter-item:last-child {
        border: none;
    }

    .collapse-content {
        padding: 30px 0 0 0;
    }

    .slider-container {
        margin: 30px 0 0 0;
    }

    .rating {
        font-size: 1.4rem;
        margin: 0;
    }
}

/* ***** -- inline filters ***** */
.inline-filters {
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 0 30px 0;
    background: #fff;
    border-radius: 4px;

    li {
        padding: 25px 0;
        margin: 0 30px 0 0;
        display: inline-block;

        &:last-child {
            margin: 0;
        }
    }

    a {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #333;
        opacity: .4;
        transition: .2s ease;

        &:hover,
        &.active {
            opacity: 1;
        }
    }
}

.change-view {
    li {
        border-left: 1px solid #E0E0E0;
        margin: 0 0 0 20px;
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
            padding-right: 0;
        }
    }

    i {
        display: inline-block;
        margin: 0 .4rem 0 0;
        transform: translateY(1px);
    }
}

/* ***** -- experiences grid ***** */
.experiences-grid {
    [class*="col-"] {
        margin: 0 0 30px 0;
    }

    .default-block {
        .num-of-persons {
            margin: 0;
        }
    }

    &.list {
        [class*="col-"] {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .default-block {
            flex-direction: row;

            .image {
                width: 33.333333%;
                padding-bottom: 25%;
            }

            .info {
                width: 66.666666;
                padding-right: 130px;
            }

            .rating {
                margin: 0 0 5px 0;
            }

            .description {
                margin: 15px 0 0 0;

                * {
                    margin: 0;
                }
            }

            .price {
                position: absolute;
                top: 40px;
                right: 25px;

                .old {
                    left: auto;
                    right: 0;
                }
            }

            .add-to-cart {
                position: absolute;
                bottom: 25px;
                right: 25px;
            }
        }

    }
}

@media (max-width: 1200px) {
    /* ***** -- category intro ***** */
    .category-intro {
        padding: 120px 0 40px 0;

        .title {
            font-size: 3.8rem;
            line-height: 4.2rem;
            margin: 0 0 20px 0;
        }
    }

}

@media (max-width: 1024px) {
    .experiences-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* ***** -- filters group ***** */
    .filters-wrapper {
        flex: none;
        max-width: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        height: 100vh;
        transform: translateX(-280px);
        padding: 0;
        z-index: 110;
        transition: transform .2s ease;

        &.active {
            transform: translateX(0);
        }
    }

    .filters-group {
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    /* ***** -- category intro ***** */
    .category-intro {
        padding: 120px 0 30px 0;

        .title {
            font-size: 3.4rem;
            line-height: 3.8rem;
        }

        .subtitle {
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
    }

    /* ***** -- inline filters ***** */
    .inline-filters {
        padding: 0 25px;

        li {
            padding: 20px 0;
            margin: 0 20px 0 0;
        }
    }

    .change-view {
        li {
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- category intro ***** */
    .category-intro {
        padding: 100px 0 20px 0;

        &:before {
            background: radial-gradient(90.35% 1075.11% at 14.69% 100%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
        }

        .title {
            font-size: 3rem;
            line-height: 3.4rem;
        }
    }

    /* ***** -- experiences grid ***** */
    .experiences-grid {
        &.list {
            [class*="col-"] {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .default-block {
                flex-direction: column;

                .image {
                    width: 100%;
                    padding-bottom: 72%;
                }

                .info {
                    width: 100%;
                    padding: 25px 22px;
                }

                .rating {
                    margin: 0 0 30px 0;
                }

                .description {
                    margin: 30px 0;

                    * {
                        margin: 0 0 15px 0;
            
                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .price {
                    position: relative;
                    top: 0;
                    left: 0;
                }

                .add-to-cart {
                    position: static;
                }
            }
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- experiences grid ***** */
    .experiences-grid {
        &.list {
            [class*="col-"] {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

}