.category-inner-page {
    padding: 20px 0 0 0;

    .left {
        width: 60%;
        padding: 0 12px;
    }

    .right {
        width: 40%;
        padding: 0 12px;
    }
}

/* ***** -- gallery ***** */
.entertainment-gallery {
    margin: 0 0 40px 0;

    .swiper-slide {
        border-radius: 5px;
        overflow: hidden;
    }

    .gallery-top {
        margin: 0 0 10px 0;

        .swiper-slide {
            padding-bottom: 62%;
        }
    }

    .gallery-thumbs {
        .swiper-slide {
            padding-bottom: 14.5%;
            background: #000;
            cursor: pointer;
        }

        .swiper-lazy {
            opacity: .4;
        }

        .swiper-slide-thumb-active {
            .swiper-lazy {
                opacity: 1;
            }
        }
    }
}

/* ***** -- about entertainment ***** */
.params-list {
    margin: 50px 0 0 0;

    [class*="col-"] {
        margin: 0 0 30px 0;
    }

    .params-item {
        align-items: center;
        justify-content: space-between;
        color: #032F47;
    }

    .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #032F47;

        img {
            max-width: 15px;
            max-height: 15px;
        }
    }

    .name {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        width: calc(100% - 42px);
    }
}

.about-entertainment {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 1.5rem;
    line-height: 2.3rem;
    padding: 40px;
    margin: 0 0 30px 0;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #032F47;
        margin: 0 0 30px 0;
    }

    blockquote {
        padding: 30px;
        margin: 20px 0 50px 0;
        background: #f3f3f3;
        border-radius: 5px;
        
        p {
            margin-bottom: 1.5rem; 
        }
    }

    ul {
        padding-left: 17px;
        list-style: disc;
    }

    .divider {
        margin: 50px 0;
        height: 1px;
        background: #DADADA;
    }
}

.need-to-know,
.included,
.not-included {
    ul {
        list-style-type: none;
        padding-left: 15px;
    }

    li {
        display: flex;
        margin: 0 0 8px 0;

        &:last-child {
            margin: 0;
        }

        &:before {
            content: "";
            display: inline-block;
            width: 8px;
            min-width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #6BB73B;
            margin: 8px 10px 0 0;
        }
    }
}

.included,
.not-included {
    li {
        &:before {
            content: "\e80c";
            font-family: "fontello";
            color: #6BB73B;
            width: auto;
            min-width: auto;
            height: auto;
            margin: 0 10px 0 0;
            background: none;
        }
    }
}

.not-included {
    li {
        &:before {
            content: "\e80d";
            color: #B73B3B;
        }
    }
}

/* ***** -- customer riviews ***** */
.rating-container {
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;

    > div {
        max-width: 440px;
    }

    .rating {
        margin: -10px 0 5px 0;
    }

    .btn-custom {
        margin-left: 20px;
    }
}

.rater {
    position: relative;
    justify-content: center;
    margin: -10px 0 40px 0;

    .val {
        font-family: "Montserrat Medium", sans-serif;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    a {
        font-size: 18px;
        padding: 0 2px;
        cursor: pointer;
        color: #FFD119;
        text-decoration: none; 
        position: relative;
    }


    .fa-star:after {
        content: "\e809";
        font-family: "fontello";
    }

    .fa-star-o:after {
        content: "\e80a";
        font-family: "fontello";
    }
}

.reviews-list {
    margin: 30px 0 60px 0;
}

.review-item {
    padding: 25px;
    background: #F3F3F3;
    border-radius: 5px;
    margin: 0 0 20px 0;

    .name-rating {
        align-items: center;
    }

    .name {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin: -1px 20px 0 0;
    }

    .rating {
        margin: 0;
    }

    .date {
        color: #828282;
        margin: 5px 0 20px 0;
    }

    .review {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #333333;
    }
}

.add-review {
    .form-group {
        margin: 0 0 20px 0;
    }

    .form-control {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

/* ***** -- entertainment details ***** */
.product-code {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #4F4F4F;
}

.entertainment-details {
    padding: 35px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2rem;
        line-height: 2.8rem;
        margin: 10px 0 15px;
    }

    .rating {
        margin: 0 0 15px 0;
    }

    .location-persons {
        margin: 0 0 30px 0;

        .location {
            position: relative;

            &:after {
                content: "";
                display: inline-block;
                margin: 0 10px -2px 10px;
                width: 1px;
                height: 10px;
                background: #BDBDBD;
            }
        }    
    }

    .form-group {
        margin: 0 0 15px 0;
    }

    .selectize-control.single .selectize-input input {
        font-size: 1.5rem;
    }

    .location,
    .num-of-persons {
        margin: 0;
    }

    .price {
        margin: 30px 0;

        .old {
            position: static;
            font-size: 1.5rem;
            line-height: 1.8rem;
        }

        .current {
            margin: .5rem 0 0 0;
            font-size: 2.4rem;
            line-height: 2.9rem;
        }
    }

}

/* ***** -- entertainment locations ***** */
.entertainment-locations {
    margin: 30px 0;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    overflow: hidden;
    
    .locations {
        padding: 35px;
    }

    .title {
        align-items: center;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2rem;
        line-height: 2.8rem;
        color: #032F47;
        margin: 0 0 20px 0;

        i {
            margin: 0 5px 0 0;
        }
    }

    .tags {
        margin-bottom: -20px;

        a {
            color: #4F4F4F;
            padding: 9px 20px;
            background: #f2f2f2;
            border-radius: 42px;
        }
    }

    #map {
        height: 460px;
    }
}

.tags.subcategories {
    a {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 1.3rem;
        line-height: 1.6rem;
        padding: 7px 15px;
        border-radius: 25px;
        opacity: .8;

        &:hover, &.active {
            background: #032F47 !important;
            color: #fff !important;
            opacity: 1;
        }
    }
}

/* ***** -- related experiences ***** */
.related-experiences {
    margin: 40px 0 0 0;
    background: #fff;

    .swiper-slide {
        margin-bottom: 50px;
    }

    .default-block {
        background: #F2F4F7;

        .add-to-cart {
            background: #fff;

            &:hover {
                background: #032F47;

                a {
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- about entertainment ***** */
    .about-entertainment {
        padding: 25px 20px;
    }

    /* ***** -- entertainment details ***** */
    .entertainment-details {
        padding: 25px 20px;

        .price {
            margin: 20px 0 25px 0;
        }
    }

    /* ***** -- entertainment locations ***** */
    .entertainment-locations {        
        .locations {
            padding: 20px;
        }

        .title {
            font-size: 1.8rem;
            line-height: 2.6rem;
        }

        .tags {
            margin-bottom: -10px;
        }
    }

}

@media (max-width: 850px) {
    .category-inner-page {
        .left {
            width: 100%;
        }
    
        .right {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    /* ***** -- gallery ***** */
    .entertainment-gallery {
        .gallery-thumbs {
            .swiper-slide {
                padding-bottom: 16%;
            }
        }
    }

    /* ***** -- about entertainment ***** */
    .params-list {
        [class*="col-"] {
            flex: 0 0 100%;
            max-width: 100%;
        }
    
        .icon {
            width: 40px;
            height: 40px;
    
            img {
                max-width: 18px;
                max-height: 18px;
            }
        }
    
        .name {
            font-size: 1.6rem;
            line-height: 1.9rem;
            width: calc(100% - 52px);
        }
    }

    .about-entertainment {
        blockquote {
            padding: 20px;
        }

        .divider {
            margin: 40px 0;
        }
    }

    .need-to-know,
    .included,
    .not-included {
        ul {
            padding: 0;
        }
    }

    /* ***** -- customer riviews ***** */
    .rating-container {
        flex-wrap: wrap;

        > div {
            max-width: 100%;
        }

        .btn-custom {
            margin: 20px 0 0 0;
        }
    }

    .reviews-list {
        margin: 30px 0 60px 0;
    }

    .review-item {
        padding: 20px;
    }

}