.cart-page.checkout {
    padding: 20px 0 50px 0;
}

/* ***** -- left ***** */
.payment-options {
    .divider {
        margin: 35px 0;
    }

    .user-data {
        p {
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 0 0 10px 0;
        }

        .name {
            font-family: "Montserrat Bold", sans-serif;
        }
    }

    .options-group {
        margin-top: 35px;

        &.payment {
            margin-bottom: 30px;
        }

        input[type="radio"] {
            + label {
                font-weight: 600;
            }

            &:checked + label {
                color: #D90529;

                &:before {
                    color: #D90529;
                }
            }
        }
    }

    .accepted-payments {
        margin: 0 0 30px 0;
    }

    .selectize-control {
        display: inline-block;
        width: 136px;
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }
    }

    .form-group.cvv {
        align-items: center;
        margin: 0 0 35px 0;

        .form-control {
            width: 136px;
            display: inline-block;
        }

        img {
            width: 48px;
            margin-left: 30px;
        }
    }

    .btn-custom {
        margin: 0 0 30px 0;
    }
}

.options-group {
    background: #F2F4F7;
    border-radius: 4px;
    overflow: hidden;

    li {
        position: relative;
        padding: 17px 35px 17px 25px;
        border-bottom: 1px solid #DADADA;

        &:last-child {
            border: none;
        }

        .hint {
            color: #828282;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &.payment {
        background: transparent;

        li {
            padding: 6px 0;
            border: none;
        }
    }
}

.secure-page {
    color: #000;

    p {
        align-items: center;
        font-size: 1.4rem;
        line-height: 2rem;
        margin: 0 0 5px 0;

        i {
            margin-right: .5rem;
            font-size: 1.6rem;
        }

        &:first-child {
            margin: 0 0 20px 0;
        }
    }
}

/* ***** -- right ***** */
.cart-item.flat {
    .title {
        max-width: 100%;
        margin: 0;
    }

    .price {
        display: flex;
        align-items: center;
        position: static;
        margin: 10px 0;

        .old {
            order: 1;
            margin: 0 0 0 10px;
        }

        .current {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    .item-params {
        .param {
            display: block;
            color: #333;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #DADADA;
            
            p {
                font-size: 1.4rem;
                line-height: 1.7rem;
                margin: 0;
            }
        
            &:last-child {
                border: none;
            } 
        }
    }
}

.promocode {
    .panel-body {
        border: none;
    }

    h3 {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin: 0 0 20px 0;
    }
}

/* ***** -- help block ***** */
.help-block {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    padding: 30px;
    background: #032F47;
    border-radius: 5px;

    a {
        display: inline-flex;
        align-items: center;
        color: #fff;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin: 0 0 25px 0;

        i {
            font-size: 2rem;
            margin: 0 10px 0 0;
        }
    }
}

@media (max-width: 420px) {
    /* ***** -- left ***** */
    .payment-options {
        .selectize-control {
            width: 115px;
            margin: 0 10px 0 0;
        }
    }

    /* ***** -- help block ***** */
    .help-block {
        padding: 25px;
    }

}