/* ***** -- order details ***** */
.order-details {
    tr:last-child {
        td {
            padding: 0;
        }
    }

    td {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0 0 10px 0;

        &:first-child {
            opacity: .5;
            padding: 0 50px 10px 0;
        }

        &:last-child {
            font-weight: 600;
        }
    }

    .order-status {
        font-family: "Montserrat Bold", sans-serif;
        color: #DEC543;
        text-transform: uppercase;

        &.unsuccessful {
            color: #e24747;
        }
        
        &.successful {
            color: #52c08d;
        }
    }
}

/* ***** -- order item ***** */
.order-item {
    .image {
        width: 120px;
    }

    .cover-center {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

    .info {
        width: calc(100% - 120px);
        padding-left: 20px;
    }
    
    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        margin: 1rem 0;
    }

    .price {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;

        .old {
            position: static;
            order: 1;
            margin: 0 0 0 10px;
        }

        .current {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    .item-params {
        .param {
            display: block;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #DADADA;
            
            p {
                font-size: 1.4rem;
                line-height: 1.7rem;
                margin: 0;
            }
        
            &:last-child {
                border: none;
            } 
        }
    }
}

/* ***** -- order actions ***** */
.order-actions {
    margin: 30px 0 40px 0;

    li {
        margin: 0 25px 0 0;
    }

    a {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-custom.discover {
    width: 100%;
    max-width: 448px;
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 0 50px 0;
}

.see-also {
    [class*="col-"] {
        margin: 0 0 24px 0;
    }

    .block-backgrounded {
        height: 214px;
    }
}

@media (max-width: 480px) {
    /* ***** -- order details ***** */
    .order-details {
        tr {
            display: block;
            margin: 0 0 10px 0;

            &:last-child {
                margin: 0;
            }
        }

        td {
            display: block;
            padding: 0 !important;
        }
    }

    /* ***** -- order item ***** */
    .order-item {
        .image {
            width: 100%;
            padding-bottom: 70%;
        }

        .info {
            width: 100%;
            padding: 15px 0 0 0;
        }
    }

}