* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    background: #F2F4F7;
    overflow-x: hidden !important;

    &.no-scroll-y {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0;
}

a, a:hover {
    color: #000;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

button {
    outline: none !important;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.image {
    position: relative;
    width: 100%;

    a {
        display: block;
    }

    img {
        width: 100%;
    }
}

/* ***** -- bootstrap ***** */
.container-fluid {
    max-width: 1224px;
}

/* -- dropdown */
.dropdown {
    .dropdown-toggle {
        position: relative;
        color: #fff;
        padding: 0 1.5rem 0 0;
        background: none;
        border: none;

        i {
            font-size: .5rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        min-width: auto;
    }

    .dropdown-item {
        font-size: 1.2rem;
        padding: .3rem 1rem;
    }
}

/* -- forms */
.form-group {
    position: relative;
    font-family: "Montserrat Medium", sans-serif;
    margin: 0 0 25px 0;

    .form-group {
        margin: 0;
    }

    ::-webkit-input-placeholder {
        color: #000;
    }
    ::-moz-placeholder {
        color: #000;
    }
    :-ms-input-placeholder {
        color: #000;
    }
    :-moz-placeholder {
        color: #000;
    }

    label {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: rgba(#000, .5);
        margin: 0 0 10px 0;
    }

    .form-control {
        font-size: 1.7rem;
        line-height: 2rem;
        color: #000;
        height: auto;
        padding: 1.6rem 2rem;
        background-image: none;
        border: 1px solid #808184;
        border-radius: 3px;
        box-shadow: none !important;
        opacity: .5;
        transition: opacity .2s ease;

        &:focus,
        &.is-valid,
        &.is-invalid {
            opacity: 1;
        }

        &.is-valid {
            border-color: #28a745;
        }

        &.is-invalid {
            border-color: #dc3545;
        }
    }
}

.valid-feedback {
    color: #28a745;
}

.invalid-feedback {
    color: #dc3545;
}

.form-group.select {
    &:after {
        content: "\e804";
        font-family: "fontello";
        font-size: .7rem;
        position: absolute;
        top: 1.9rem;
        right: 2rem;
    }
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;

    + label {
        position: relative;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 600;
        color: #333;
        margin: 0;
        opacity: 1;
        cursor: pointer;
        user-select: none;

        a {
            color: #3185FC;
        }

        &:before {
            display: inline-block;
            content: "\f096";
            font-family: "fontello";
            font-size: 1.6rem;
            color: #828282;
            margin: 0 10px 0 1px;
            transform: translateY(1px);
        }
    }

    &:checked + label:before {
        content: "\f14a";
        color: #D90529;
        margin: 0 9px 0 1px;
    }
}

input[type="radio"] {
    + label {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: normal;
        padding-left: 24px;

        &:before {
            content: "\f10c";
            position: absolute;
            top: -1px;
            left: 0;
            color: #333;
            transform: none;
        }
    }

    &:checked + label {
        &:before {
            content: "\f192";
            color: #333;
            margin: 0 10px 0 1px;
        }
    }
}

/* ***** -- tooltip ***** */
.tooltip {
    font-size: 1.4rem;
}

.tooltip-inner {
    padding: 4px 8px;
}

/* ***** -- colapse ***** */
.collapse {
    display: none;

    &.show {
        display: block;
    }
}

a[data-toggle="collapse"] {
    position: relative;
    display: block;
    padding-right: 15px;

    &:after {
        content: "\e805";
        font-family: "fontello";
        font-size: .8rem;
        position: absolute;
        top: 0;
        right: 2px;
    }
}

a[aria-expanded="true"] {
    &:after {
        transform: rotate(180deg);
    }
}

/* ***** -- range slider ***** */
.theme-green .back-bar {
    background: #BDBDBD;
}

.theme-green .back-bar .selected-bar {
    background: #D90529;
}

.theme-green .back-bar .pointer {
    background: #fff;
    border: 4px solid #D90529;
}

.slider-container .back-bar .pointer-label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333 !important;
}

.theme-green .back-bar .pointer {
    width: 16px;
    height: 16px;
    top: -6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-container .back-bar .pointer-label.low {
    left: 0 !important;
}

.slider-container .back-bar .pointer-label.high {
    left: auto !important;
    right: 0 !important;
}

/* ***** -- selectize ***** */
select.custom-select {
    display: none; 
}

.selectize-control.single .selectize-input {
    background: #fff;
    border-color: rgba(#000, .2);
    box-shadow: none;
    padding: 1.6rem 2rem;
    border: 1px solid #DADADA;
    border-radius: 2px;
    font-size: 1.6rem;
    transition: opacity .2s ease;

    &:after {
        content: "\e805";
        width: auto;
        height: auto;
        top: 1.7rem;
        right: 2rem;
        font-family: "fontello";
        font-size: .7rem;
        color: #828282;
        border: none;
        margin: 0 !important;
    }

    &:before {
        display: none;
    }

    ::-webkit-input-placeholder {
        color: #828282;
    }
    ::-moz-placeholder {
        color: #828282;
    }
    :-ms-input-placeholder {
        color: #828282;
    }
    :-moz-placeholder {
        color: #828282;
    }

    input {
        font-size: 1.6rem;
    }
}

.selectize-input > input[placeholder] {
    width: 100% !important;
}

.selectize-dropdown {
    border: 1px solid #DADADA !important;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: none;

    .option {
        font-size: 1.6rem;
        padding: 1.6rem 2rem;
        border-bottom: 1px solid #dadada;
        cursor: pointer;
        transition: .2s ease;

        &:last-child {
            border: none;
        }

        &:hover {
            background: #F2F4F7;
        }
    }
}

/* ***** -- swiper slider ***** */
.swiper-container {
    .swiper-slide {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
}

div.swiper-lazy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    width: 56px;
    height: 88px;
    color: #fff;
    margin: 0;
    transform: translateY(-50%);
    background: rgba(#000, .2);
    background-image: none;
    border-radius: 3px;

    &:after {
        display: none;
    }

    i {
        font-size: 3.2rem;
        transform: translate(2px, -1px);
    }
}

.swiper-button-prev {
    left: 0;

    i {
        transform: translate(-2px, 1px) rotate(180deg);
    }
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination {
    bottom: 0 !important;

    .swiper-pagination-bullet {
        width: .8rem;
        height: .8rem;
        margin: 0 7px !important;
        background: #032F47;
        opacity: .2;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

@media (max-width: 1366px) {
    /* ***** -- swiper slider ***** */
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 80px;
    }

}
