/* ***** -- contact info ***** */
.help-center {
    .contact-info {
        margin: 50px 0;
    }
}

.contact-info {
    .info-item {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #828282;

        > p {
            margin: 0 0 10px 0;
        }
    }

    a {
        display: block;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #3A7CE0;
        margin: 5px 0 0 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ***** -- faq section ***** */
.faq-section {
    .sidebar-list {
        border: 1px solid #DADADA;
    }
}

.faq-questions {
    a[data-toggle="collapse"] {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 30px 60px 30px 30px;
        background: #f8f8f8;

        &:after {
            top: 30px;
            right: 30px;
        }
    }

    a[aria-expanded="true"] {
        font-family: "Montserrat", sans-serif;
        background: transparent;
    }

    li {
        margin: 0 0 20px 0;
        border: 1px solid #DADADA;
        border-radius: 5px;
        overflow: hidden;
    }

    .faq-answer {
        padding: 0 30px 30px;

        * {
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-family: "Montserrat Bold", sans-serif;
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- contact info ***** */
    .help-center {
        .contact-info {
            margin: 20px 0 0;
        }
    }

    .contact-info {
        [class*="col-"] {
            margin: 20px 0 10px 0;
        }
    }

    /* ***** -- faq section ***** */
    .faq-questions {
        a[data-toggle="collapse"] {
            padding: 20px 50px 20px 20px;

            &:after {
                top: 20px;
                right: 20px;
            }
        }

        .faq-answer {
            padding: 0 20px 20px;
        }
    }
    
}