.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-center {
    background: no-repeat center center;
    background-size: cover;
}

.ptb-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ptb-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.visible-767 {
    display: none !important;
}

.visible-1024 {
    display: none !important;
}

.visible-1200 {
    display: none !important;
}

/* ***** -- breadcrumbs ***** */
.breadcrumb-container {
    padding: 20px 0 17px 0;

    .breadcrumb {
        padding: 0;
        margin: 0;
        background: none;
    }

    .breadcrumb-item {
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #000;

        + .breadcrumb-item {
            margin: 0 0 0 1rem;

            &:before {
                content: "\e805";
                font-family: "fontello";
                font-size: .5rem;
                color: #828282;
                padding: 0;
                opacity: .5;
                transform: rotate(-90deg) translate(.3rem, -.7rem);
            }
        }
    }

    a {
        color: #828282;

        &:hover {
            color: #000;
        }
    }
}

/* ***** -- buttons ***** */
.btn-dark,
.btn-submit {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 30px;
    background: #333333;
    border-radius: 2px;
    transition: .2s ease;

    &:hover {
        color: #fff;
        background: #000;
    }
}

.btn-submit {
    color: #828282;
    background: #DADADA;

    &:hover {
        color: #fff;
        background: #D90529;
    }
}

.btn-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 1.7rem;
    line-height: 2.1rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 30px;
    background: #032F47;
    border-radius: 2px;
    transition: .2s ease;

    i {
        margin-right: 12px;
    }

    &:hover {
        color: #fff;
        background: darken(#032F47, 3%);
    }

    &.btn-block {
        width: 100%;
    }

    &.primary {
        background: #D90529;

        &:hover {
            background: darken(#D90529, 5%);
        }
    }

    &.secondary {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-transform: none;
        color: #000;
        padding: 1.3rem 2rem;
        background: #F2C94C;

        &:hover {
            background: darken(#F2C94C, 10%);
        }
    }
}

.preload {
    position: relative;

    * {
        opacity: 0;
    }

    &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        border-radius: 50%;
        border: 2px solid #032F47;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: spin .7s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ***** -- section header ***** */
.section-title,
.block-title {
    font-family: "Montserrat Bold", sans-serif;
}

.section-title {
    font-size: 4rem;
    line-height: 4.9rem;
}

.block-title {
    font-size: 3.4rem;
    line-height: 4.1rem;
    margin: 0 0 40px 0;
}

.section-header {
    justify-content: space-between;
    align-items: center;
    margin: 0 0 4rem 0;
}

/* ***** -- white panel ***** */
.white-panel {
    margin: 0 0 24px 0;
    background: #fff;
    border-radius: 5px;

    .panel-header {
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        &.flex {
            .panel-title {
                margin: 0;
            }
        }

        p {
            max-width: 100%;
        }
    }

    p {
        font-family: "Montserrat Medium", sans-serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        max-width: 448px;

        a {
            text-decoration: underline;
            color: #000;
        }
    }

    .panel-title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #032F47;
        margin: 0 0 8px 0;
        text-transform: uppercase;

        &.primary {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 2.4rem;
            line-height: 2.9rem;
            text-transform: none;

            img {
                height: 3rem;
                margin-right: 16px;
            }
        }

        &.secondary {
            font-size: 1.6rem;
            margin: 0 0 15px 0;
        }
    }

    .panel-body {
        padding: 30px;
        border-top: 1px solid #E5E5E5;

        .panel-title {
            + p {
                max-width: 100%;
                margin: 0 0 30px 0;
            }
        }
    }

    .panel-info-text {
        font-size: 1.3rem;
        line-height: 2rem;
        color: #828282;
        margin: 0 0 50px 0;

        a {
            color: #D90529;
        }        
    }

    .divider {
        margin: 30px 0;
        height: 1px;
        background: #E5E5E5
    }

    .form-group,
    .btn-custom {
        max-width: 448px;
    }

    .helper-links {
        a {
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: #828282;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}

/* ***** -- text editor ***** */
.editor-body {
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-family: "Montserrat Medium", sans-serif;
    color: #333;

    h1, h2, h3, h4 {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 2.9rem;
    }

    p {
        a {
            display: inline;
        }

        strong {
            display: inline;
            font-family: "Montserrat Bold", sans-serif;
            font-weight: 900;
        }
    }

    blockquote {
        padding: 30px;
        background: #f3f3f3;
        border-radius: 5px;
        
        p {
            margin-bottom: 1.5rem; 
        }
    }

    > * {
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* ***** -- alerts ***** */
.site-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
    padding: 15px 12px;
    background: #000;
    z-index: 120;

    &.alert-danger {
        background: #D90529;
    }

    &.alert-success {
        background: #52c08d;
    }

    .alert-content {
        position: relative;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding-right: 30px;
    }

    strong {
        text-transform: uppercase;
        margin: 0 20px 0 0;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    .close-alert {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* ***** -- pagination ***** */
.pagination-wrapper {
    align-items: center;
    justify-content: space-between;
    margin: 70px 0;

    p {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 600;
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;

    .page-item {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 600;
        margin: 5px;

        &.active {
            .page-link {
                color: #fff;
                background: #032F47;
            }
        }

        &.disabled {
            .page-link {
                color: #000;
                background: #fff;
                opacity: .7;
            }
        }
    }

    .page-link {
        color: #000;
        padding: 1.3rem 1.8rem;
        background: #fff;
        border: none;
        border-radius: 2px;
        transition: color, background .2s ease;

        &:hover {
            color: #fff;
            background: #192549;
        }
    }
}

@media (max-width: 1200px) {
    .hidden-1200 {
        display: none !important;
    }

    .visible-1200 {
        display: block !important;
    }

    /* ***** -- section header ***** */
    .section-title {
        font-size: 3.6rem;
        line-height: 4.5rem;
    }

    .block-title {
        font-size: 3rem;
        line-height: 3.7rem;
    }

    .section-header {
        margin: 0 0 3rem 0;
    }

}

@media (max-width: 1024px) {
    .visible-1024 {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .hidden-992 {
        display: none !important;
    }

    .ptb-5 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    
    .ptb-8 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    /* ***** -- section header ***** */
    .section-title {
        font-size: 3.2rem;
        line-height: 4.1rem;
    }

    .block-title {
        font-size: 2.6rem;
        line-height: 3.3rem;
    }

    /* ***** -- editor body ***** */
    .editor-body {
        h1, h2, h3, h4 {
            font-size: 2.2rem;
            line-height: 2.7rem;
        }
    }

}

@media (max-width: 767px) {
    .hidden-767 {
        display: none !important;
    }

    .visible-767 {
        display: block !important;
    }

    /* ***** -- pagination ***** */
    .pagination-wrapper {
        justify-content: center;
        margin: 40px 0;

        nav {
            width: 100%;
        }
    }

    .pagination {
        justify-content: center;
        margin: 0 0 20px 0;

        .page-link {
            padding: .8rem 1.3rem;
        }
    }
    
}

@media (max-width: 575px) {
    .hidden-575 {
        display: none !important;
    }

    .ptb-8 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    /* ***** -- section header ***** */
    .section-title,
    .block-title {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .block-title {
        margin: 0 0 30px 0;
    }

    /* ***** -- white panel ***** */
    .white-panel {
        .panel-header {
            padding: 25px 20px;
        }

        .panel-body {
            padding: 20px 20px;
        }
    }
    
}