/* ***** -- intro slider ***** */
.intro-slider {
    .container-fluid {
        position: relative;
        z-index: 5;
    }

    .swiper-slide {
        display: flex;
        align-items: flex-end;
        min-height: 540px;
        color: #fff;
        padding: 100px 0 115px 0;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(201.92deg, rgba(159, 53, 53, 0.1) 25.02%, #000000 100.98%);
        }
    }

    .discount {
        position: relative;
        display: inline-block;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 3.6rem;
        line-height: 4.4rem;
        font-style: italic;
        padding: 12px 40px;
        background: url("../images/icons/button-shape.svg") no-repeat center;
        background-size: 100% auto;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 30px;
            width: 58%;
            height: 100%;
            background: #032F47;
            transform: skewX(-15deg);
            z-index: -1;
        }
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 4.8rem;
        line-height: 5.5rem;
        margin: 20px 0 35px 0;
        max-width: 90rem;
    }

    p {
        max-width: 69rem;
    }

    .swiper-pagination {
        bottom: 30px !important;

        .swiper-pagination-bullet {
            background: #fff;
            opacity: .3;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}

/* ***** -- we do ***** */
.we-do {
    background: #fff;

    .row {
        justify-content: center;
    }
}

.service-item {
    align-items: center;

    .icon {
        width: 68px;
        height: 68px;
        background: #D90529;
        border-radius: 50%;
    }

    img {
        max-width: 34px;
    }

    .info {
        font-size: 1.5rem;
        line-height: 1.8rem;
        width: calc(100% - 68px);
        padding-left: 20px;
    }

    .name {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin: 0 0 5px 0;
    }
}

/* ***** -- popular weekly ***** */
.prev-slide,
.next-slide {
    position: absolute;
    top: calc(50% - 50px);
    width: 50px;
    height: 50px;
    color: #fff;
    background: #DADADA;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease;

    i {
        font-size: 2.6rem;
        transform: translate(2px, -1px);
    }

    &:hover {
        background: #032F47;
    }
}

.prev-slide {
    right: calc(100% + 24px);
    transform: rotate(180deg);

    i {
        font-size: 2.6rem;
    }
}

.next-slide {
    left: calc(100% + 24px);
}

.popular-weekly {
    .tags {
        margin: 0 0 40px 0;
    }

    .swiper-slide {
        margin-bottom: 50px;
    }
}

.tags {
    li {
        margin: 0 10px 10px 0;
    }

    a {
        display: inline-block;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 1.3rem;
        line-height: 1.6rem;
        padding: 12px 20px;
        background: #fff;
        border-radius: 2px;
        transition: .2s ease;

        &:hover, &.active {
            background: #032F47 !important;
            color: #fff !important;
        }
    }
}

.popular-experiences {
    position: relative;
}

/* ***** -- full width banner ***** */
.full-width-bnr {
    position: relative;
    padding: 55px 0 60px 0;
    color: #fff;
    background-attachment: fixed;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 101%;
        background: linear-gradient(185.86deg, rgba(159, 53, 53, 0.1) 0.51%, #000000 101.33%);
    }

    a {
        color: #fff;
    }

    .container-fluid {
        position: relative;
        z-index: 5;
    }

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 3.4rem;
        line-height: 4.2rem;
        margin: 0 0 30px 0;
        max-width: 890px;
        transition: opacity .2s ease;

        &:hover {
            opacity: .7;
        }
    }

    .subtitle {
        max-width: 790px;
    }
}

/* ***** -- new services ***** */
.new-experiences {
    background: #fff;

    .swiper-slide {
        margin-bottom: 50px;
    }

    .default-block {
        background: #F2F4F7;

        .add-to-cart {
            background: #fff;

            &:hover {
                background: #032F47;

                a {
                    color: #fff;
                }
            }
        }
    }
}

.new-experiences-slider {
    position: relative;
}

/* ***** -- explore services ***** */
.explore-experiences {
    background: #fff;

    [class*="col-lg-"] {
        margin: 0 0 24px 0;
    }

    .block-backgrounded {
        height: 214px;

        .title {
            font-size: 2.4rem;
            line-height: 2.9rem;
        }
    }
}

/* ***** -- subscribe ***** */
.subscribe-instagram {
    background: #032F47;
}

.subscribe-block {
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding: 0 60px 0 12px;
}

.subscribe-form-wrapper {
    max-width: 540px;
    padding: 45px 0;

    h3 {
        font-size: 2.2rem;
        line-height: 3rem;
        font-weight: 600;
        color: #fff;
        margin: 0 0 40px 0;
    }

    form {
        display: flex;
    }

    .form-group {
        width: 100%;
        margin: 0;
    }

    .form-control {
        font-size: 1.7rem;
        line-height: 2.1rem;
        color: #333;
        padding: 1.8rem 2rem;
        border: none;
        border-radius: 2px 0 0 2px;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #333;
    }
    ::-moz-placeholder {
        color: #333;
    }
    :-ms-input-placeholder {
        color: #333;
    }
    :-moz-placeholder {
        color: #333;
    }

    .submit-subscribe {
        font-size: 1.7rem;
        line-height: 2.1rem;
        font-weight: bold;
        color: #fff;
        padding: 1.8rem 4rem;
        background: #D90529;
        border: none;
        border-radius: 0 2px 2px 0;
        transition: .2s ease;

        &:hover {
            background: darken(#D90529, 5%);
        }
    }
}

/* ***** -- instagram ***** */
.instagram-block {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background: #fff;

    .hashtag {
        display: flex;
        align-items: center;
        flex: 1;
        font-family: "Montserrat Bold", sans-serif;
        padding: 15px 40px;

        img {
            max-width: 40px;
            margin-right: 15px;;
        }
    }

    .instagram {
        min-height: 154px;
        max-width: 100%;
    }

    .swiper-slide {
        width: 154px;
        height: 154px;
    }
}

/* ***** -- modal added item ***** */
.modal {
    .modal-title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin: 0 0 40px 0;
    }
}

.modal.modal-added-item {
    .modal-dialog {
        max-width: 792px;
    }

    .modal-content {
        padding: 50px 42px;
        background: #f8f8f8;
    }

    .cart-item {
        margin: 0 0 40px 0;
    }

    .actions {
        button,
        a {
            color: #fff;
            background: #D90529;
            margin-right: 10px;
        }

        button[data-dismiss="modal"],
        a[data-dismiss="modal"] {
            color: #000;
            background: #fff;
        }
    }
}

@media (max-width: 1400px) {
    .prev-slide,
    .next-slide {
        width: 45px;
        height: 45px;

        i {
            font-size: 2.4rem;
        }
    }

    .prev-slide {
        right: calc(100% + 12px);
    }

    .next-slide {
        left: calc(100% + 12px);
    }
}

@media (max-width: 1366px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .discount {
            font-size: 3rem;
            line-height: 3.8rem;
            padding: 10px 40px;
        }

        .title {
            font-size: 4.4rem;
            line-height: 5rem;
        }
    }

}

@media (max-width: 1330px) {
    .prev-slide,
    .next-slide {
        display: none;
    }

    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            padding: 100px 0 80px 0;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe-block {
        padding: 0 12px;
    }

    .subscribe-form-wrapper {
        max-width: 100%;

        h3 {
            font-size: 2rem;
            line-height: 2.8rem;
            margin: 0 0 30px 0;
        }
    }

    /* ***** -- instagram ***** */
    .instagram-block {
        .hashtag {
            padding: 15px 30px;
        }

        .instagram {
            min-height: 140px;
        }

        .swiper-slide {
            width: 140px;
            height: 140px;
        }
    }

}

@media (max-width: 992px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            min-height: 54vw;
        }

        .discount {
            font-size: 2.2rem;
            line-height: 3.2rem;

            &:before {
                top: -5px;
                left: 20px;
            }
        }

        .title {
            font-size: 4rem;
            line-height: 4.6rem;
            margin: 15px 0 25px 0;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
    }

    /* ***** -- we do ***** */
    .service-item {
        flex-flow: column;

        .icon {
            margin: 0 0 15px 0;
        }

        .info {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
    }

    /* ***** -- full width banner ***** */
    .full-width-bnr {
        padding: 50px 0;

        .title {
            font-size: 3rem;
            line-height: 3.8rem;
            margin: 0 0 20px 0;
        }

        .subtitle {
            font-size: 1.6rem;
        }
    }

}

@media (max-width: 850px) {
    /* ***** -- subscribe ***** */
    .subscribe-block {
        width: 100%;
    }

    .subscribe-form-wrapper {
        h3 {
            margin: 0 0 20px 0;
        }
    }

    /* ***** -- instagram ***** */
    .instagram-block {
        width: 100%;

        .hashtag {
            padding: 30px 20px;
        }

        .instagram {
            min-height: 120px;
        }

        .swiper-slide {
            width: 120px;
            height: 120px;
        }
    }
}

@media (max-width: 767px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            padding: 100px 0 60px 0;
            min-height: 74vw;
        }

        .discount {
            font-size: 2rem;
            line-height: 3rem;
        }

        .title {
            font-size: 3rem;
            line-height: 3.8rem;
            margin: 10px 0 20px 0;
        }

        .swiper-pagination {
            bottom: 10px !important;
        }
    }

    /* ***** -- we do ***** */
    .service-item {
        .name {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }

    /* ***** -- popular weekly ***** */
    .popular-weekly {
        .tags {
            margin: 0 0 30px 0;
        }
    }

    .tags {
        a {
            font-size: 1.2rem;
            line-height: 1.5rem;
            padding: 10px 18px;
        }
    }

    /* ***** -- modal added item ***** */
    .modal {
        .modal-title {
            font-size: 2rem;
            line-height: 2.2rem;
            margin: 0 0 30px 0;
        }
    }

    .modal.modal-added-item {
        .modal-content {
            padding: 30px 20px;
        }

        .cart-item {
            margin: 0 0 30px 0;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            min-height: 124vw;
        }
    }

    /* ***** -- we do ***** */
    .we-do {
        [class*="col-"] {
            margin: 0 0 30px 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .service-item {
        flex-flow: row;

        .icon {
            margin: 0;
            width: 56px;
            height: 56px;
        }

        img {
            max-width: 28px;
        }

        .info {
            width: calc(100% - 50px);
            padding-left: 20px;
            text-align: left;
        }

        .name {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    /* ***** -- popular weekly ***** */
    .popular-experiences {
        width: calc(100% + 24px);
        margin-left: -12px;
    }

    /* ***** -- full width banner ***** */
    .full-width-bnr {
        .title {
            font-size: 2.6rem;
            line-height: 3.4rem;
        }
    }

    /* ***** -- new experiences ***** */
    .new-experiences-slider {
        width: calc(100% + 24px);
        margin-left: -12px;
    }

    /* ***** -- explore services ***** */
    .explore-experiences {
        padding-top: 1rem;
    }

    /* ***** -- subscribe ***** */
    .subscribe-form-wrapper {
        padding: 40px 0;

        form {
            display: block;
        }

        .form-control {
            border-radius: 2px;
        }

        .submit-subscribe {
            width: 100%;
            margin: 13px 0 0 0;
            border-radius: 2px;
        }
    }

    /* ***** -- instagram ***** */
    .instagram-block {
        width: 100%;

        .hashtag {
            padding: 25px 12px;
            justify-content: center;
        }

        .instagram {
            min-height: 120px;
        }

        .swiper-slide {
            width: 120px;
            height: 120px;
        }
    }

    /* ***** -- modal added item ***** */
    .modal.modal-added-item {
        .actions {
            flex-flow: column;

            button,
            a {
                text-align: center;
                margin: 0 0 15px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

}