.contact-form {
    max-width: 588px;

    .title {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin: 0 0 40px 0;
    }

    .info-text {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin: 40px 0 50px 0;
        opacity: 1;

        a {
            text-decoration: underline;
        }
    }

    .btn-custom {
        width: 100%;
        max-width: 448px;
    }
}