.static {
    padding: 60px 0 120px 0;
    background: #fff;

    .divider {
        margin: 40px 0;
        height: 1px;
        background: #dadada;;
    }

    .editor-body {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-family: "Montserrat Medium", sans-serif;
        color: #333;

        hr {
            margin: 40px 0;
        }
    
        > * {
            margin-bottom: 3rem;
    
            &:last-child {
                margin-bottom: 0;
            }
        }

        ol {
            font-family: "Montserrat Bold", sans-serif;
            list-style: decimal;
            padding-left: 17px;

            li {
                margin: 0 0 .5rem 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .static {
        padding: 30px 0 60px 0;
    }
}

@media (max-width: 575px) {
    .static {
        .divider {
            margin: 30px 0;
        }

        .editor-body {
            hr {
                margin: 30px 0;
            }
        }
    }
}